<!-- #* КИБЕР КЛИНИГ СО СКИДКОЙ -->

<add-file>/video/mobile-top-720.mp4</add-file>
<add-file>/video/mobile-top-720.webm</add-file>
<add-file>/video/mobile-top-1080.mp4</add-file>
<add-file>/video/mobile-top-1080.webm</add-file>
<add-file>/video/mobile-top-1440.mp4</add-file>
<add-file>/video/mobile-top-1440.webm</add-file>

<stylesheet href="../../stylesheets/Header.css" />


<!-- , pages/wide/content/10-header/img/poster4-13661.webp -->
    <!-- todo: when resizing x2, don't oversize -->
<!-- <img src="./img/poster1.jpg" resize-to="576" x1 x2 x3 w-100 placeholder-auto webp alt="" d-none d-sm-inline d-md-none /> -->

<container-fluid TopCont position-relative Header>
 <row>
  <column px-0 col-12 position-relative>
   <div background="#f2f9fb" w-100>
    <!-- todo: fix cache -->

    <!-- from s:0 - s:576px -->
    <img src="./img/poster-xs.jpg" resize-to="576" x1 x2 x3 w-100 placeholder-auto webp alt="" d-inline d-sm-none />
    <!-- from s:576 - m:768 -->
    <img src="./img/poster-s.jpg" resize-to="768" x1 x2 w-100 placeholder-auto webp alt="" d-none d-sm-inline d-md-none />
    <!-- from m:768 -->
    <img src="./img/poster-m.jpg" resize-to="992" x1 x2 w-100 placeholder-auto webp alt="" d-none d-md-inline d-lg-none />
    <!-- from lg:992 -->
    <img src="./img/poster-l.jpg" resize-to="1200" x1 x2 w-100 placeholder-auto webp alt="" d-none d-lg-inline d-xl-none />
    <!-- from xl:1200 -->
    <img src="./img/poster-xl.jpg" w-100 placeholder-auto webp alt="" d-none d-xl-inline />
    <!-- <img src="./img/poster.jpg" resize-to="768" x1 x2 x3 w-100 placeholder-auto webp alt="" d-none d-lg-inline /> -->
   </div>

   <video id="vidTop" position-absolute top="0" left="0" h-100 playsinline autoplay muted loop img-fluid w-100>
    <source data-src-1440="/video/mobile-top-1440.webm" type="video/webm">
    <source data-src-1440="/video/mobile-top-1440.mp4" type="video/mp4">
     <source data-src-1080="/video/mobile-top-1080.webm" type="video/webm">
    <source data-src-1080="/video/mobile-top-1080.mp4" type="video/mp4">
     <source data-src-720="/video/mobile-top-720.webm" type="video/webm">
    <source data-src-720="/video/mobile-top-720.mp4" type="video/mp4">
   </video>

   <script keep>
    var x=720
    if(window.outerWidth>=1200) {
     x=1440
    }else if(window.outerWidth>=768) {
     x=1080
    }
    var sources=Array.prototype.slice.call(window['vidTop'].querySelectorAll('source'),0)
    sources.forEach(function(source){
     var src=source.dataset['src-'+x]
     if(src) source.setAttribute('src',src)
     else source.removeAttribute('src')
    })
   </script>
  </column>
 </row>

 <row TopRow position-absolute top="0" w-100>
  <column HeaderPad col-0 col-sm-1>
  </column>
  <column col-7 col-md-5 col-lg-6 d-flex flex-column h-100 MobPadding>
   <div row p-0 pl-sm-1 TopLogo>
    <div col>
     <img src="./img/logo.png" width="447" height="59" above-fold resize-to="447" x1 x2 x3 img-fluid Logo d-none d-md-inline-block />
     <img src="./img/logo-mob2.png" width="155" height="20" above-fold resize-to="155" x1 x2 x3 img-fluid Logo d-md-none />
    </div>
   </div>

   <div flex-grow-1 d-flex align-items-center justify-content-center TopCopy>
    <div>
     <div>
      <h4 text-uppercase AutonomousCritical FS30>Сервис будущего</h4>
     </div>
     <div>
      <h1 text-uppercase AutonomousReverseCritical FSMB11 color="#049aba">Кибер и&nbsp;Вам</h1>
     </div>
    </div>
   </div>
  </column>

  <column col-4 col-md-4>
  </column>
 </row>
</container-fluid>
