@font-face {
    font-family: 'CTC_Sans';
    font-weight: 400;
    src: url('/fonts/CTCSans-Regular.woff2') format('woff2'),
         url('/fonts/CTCSans-Regular.woff') format('woff');
}
@font-face {
 font-family: 'CTC_Sans_Medium';
 src: url('/fonts/CTCSans-Medium.woff2') format('woff2'),
     url('/fonts/CTCSans-Medium.woff') format('woff');
 font-weight: 500;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'CTC_Sans_Bold';
 src: url('/fonts/CTCSans-Bold.woff2') format('woff2'),
     url('/fonts/CTCSans-Bold.woff') format('woff');
 font-weight: 600;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'TT Autonomous';
 src: url('/fonts/TTAutonomous-Light.woff2') format('woff2'),
     url('/fonts/TTAutonomous-Light.woff') format('woff');
 font-weight: 300;
 font-style: normal;
 font-display: swap;
}
