body {
 font-family: "CTC_Sans", sans-serif;
 /* margin: 0; */
}
body .Medium,body .CMedium {
 font-family: 'CTC_Sans_Medium', sans-serif;
 font-weight: 500;
}
body .Bold {
 font-family: 'CTC_Sans_Bold', sans-serif;
 font-weight: 600;
}
.RightColumn {
  line-height: 1.5rem;
  hyphens: auto;
}
.LeftColumn ul {
  list-style-type: none;
}
.LeftColumn ul li.Active {
  font-weight: 700;
}
footer {
  padding: 1em;
  border-top: 1px dashed;
}
.Upper {
 text-transform: capitalize;
}
.Main {
 background-color: #0b161d;
}
.TextBg {
 background: #162934;
 margin-bottom: 0;
 /* -13px; */
 /* 0.7rem; */
 /* -15px */
}
.Triangle {
 bottom:-14px;
 right:30px;
}
.BottomBar {
 left: 7px;
 right: 6px;
 top: 100%;
 bottom: -14px;
 background-color: #162934;
 /* bottom: -14px; */
 /* right: 30px; */
 transform: skew(-47deg, 0deg);
 border-right: 2px solid #a3f3fb;
 border-bottom:1px solid #a3f3fb;
}
.TopBar {
 left: 8px;
 right: 8px;
 /* top: 0%; */
 top: -18px;
 background-color: #a3f3fb;
 /* bottom: -14px; */
 /* right: 30px; */
 height:17px;
 transform: skew(-47deg, 0deg);
 border-right: 2px solid #a3f3fb;
 border-bottom:1px solid #a3f3fb;
}
.BottomLeftCorner {
 left: -1px;
 right: 50%;
 top: 100%;
 bottom: -14px;
 z-index: 15;
 background: #162934;
 border-bottom: 1px solid #a3f3fb;
 border-left: 1px solid #a3f3fb;
}

.TopRightCorner {
 left: 50%;
 right: -1px;
 /* top: 0%; */
 top: -18px;
 height:18px;

 /* bottom: -14px; */
 z-index: 15;
 background: #a3f3fb;
 border-bottom: 1px solid #a3f3fb;
 border-left: 1px solid #a3f3fb;
}
.Bg2 {
 text-transform: lowercase;
}

.Autonomous{
 font-family: 'TT Autonomous',serif;
}