<!doctype html>
<html lang="en" h-100 class="no-js">
  <block-head />

  <body d-flex flex-column h-100 position-relative>
    <main flex-shrink-0 flex-grow-1 id="Content" Main overflow-hidden>
     {{ content }}
    </main>

    <depack-require />
  </body>

  <add-file>fonts/CTCSans-Regular.eot</add-file>
  <add-file>fonts/CTCSans-Regular.otf</add-file>
  <add-file>fonts/CTCSans-Regular.svg</add-file>
  <add-file>fonts/CTCSans-Regular.woff</add-file>
  <add-file>fonts/CTCSans-Regular.woff2</add-file>

  <add-file>fonts/CTCSans-Medium.woff</add-file>
  <add-file>fonts/CTCSans-Medium.woff2</add-file>

  <add-file>fonts/CTCSans-Bold.woff</add-file>
  <add-file>fonts/CTCSans-Bold.woff2</add-file>

  <add-file>fonts/TTAutonomous-Light.woff</add-file>
  <add-file>fonts/TTAutonomous-Light.woff2</add-file>
</html>