<div Lines AutonomousCritical text-uppercase LinesMid>
 <div Rect FirstLine Line z-index="11">
  <span FirstFrameAnimation Frame>
   <span>
    КИБЕР-КЛИНИНГ СО СКИДКОЙ 15%
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    КИБЕР-КЛИНИНГ СО СКИДКОЙ 15%
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    КИБЕР-КЛИНИНГ СО СКИДКОЙ 15%
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    КИБЕР-КЛИНИНГ СО СКИДКОЙ 15%
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    КИБЕР-КЛИНИНГ СО СКИДКОЙ 15%
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    КИБЕР-КЛИНИНГ СО СКИДКОЙ 15%
   </span>
   <span Slash>
    /
   </span>
  </span>
 </div>

 <div Rect2 SecondLine Line>
  <span FirstFrame2Animation Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span>
 </div>
</div>