* {
  -webkit-box-sizing: border-box;
}
*::before {
  -webkit-box-sizing: border-box;
}
*::after {
  -webkit-box-sizing: border-box;
}
button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.col {
  -webkit-flex-basis: 0;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
}
.col-1 {
  -webkit-box-flex: 0 0 8.333333%;
  -moz-box-flex: 0 0 8.333333%;
  -webkit-flex: 0 0 8.333333%;
}
.col-2 {
  -webkit-box-flex: 0 0 16.666667%;
  -moz-box-flex: 0 0 16.666667%;
  -webkit-flex: 0 0 16.666667%;
}
.col-3 {
  -webkit-box-flex: 0 0 25%;
  -moz-box-flex: 0 0 25%;
  -webkit-flex: 0 0 25%;
}
.col-4 {
  -webkit-box-flex: 0 0 33.333333%;
  -moz-box-flex: 0 0 33.333333%;
  -webkit-flex: 0 0 33.333333%;
}
.col-5 {
  -webkit-box-flex: 0 0 41.666667%;
  -moz-box-flex: 0 0 41.666667%;
  -webkit-flex: 0 0 41.666667%;
}
.col-6 {
  -webkit-box-flex: 0 0 50%;
  -moz-box-flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
}
.col-7 {
  -webkit-box-flex: 0 0 58.333333%;
  -moz-box-flex: 0 0 58.333333%;
  -webkit-flex: 0 0 58.333333%;
}
.col-8 {
  -webkit-box-flex: 0 0 66.666667%;
  -moz-box-flex: 0 0 66.666667%;
  -webkit-flex: 0 0 66.666667%;
}
.col-9 {
  -webkit-box-flex: 0 0 75%;
  -moz-box-flex: 0 0 75%;
  -webkit-flex: 0 0 75%;
}
.col-10 {
  -webkit-box-flex: 0 0 83.333333%;
  -moz-box-flex: 0 0 83.333333%;
  -webkit-flex: 0 0 83.333333%;
}
.col-12 {
  -webkit-box-flex: 0 0 100%;
  -moz-box-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
}
@media (min-width:576px) {
  .col-sm-1 {
    -webkit-box-flex: 0 0 8.333333%;
    -moz-box-flex: 0 0 8.333333%;
    -webkit-flex: 0 0 8.333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0 0 16.666667%;
    -moz-box-flex: 0 0 16.666667%;
    -webkit-flex: 0 0 16.666667%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0 0 66.666667%;
    -moz-box-flex: 0 0 66.666667%;
    -webkit-flex: 0 0 66.666667%;
  }
}
@media (min-width:768px) {
  .col-md-1 {
    -webkit-box-flex: 0 0 8.333333%;
    -moz-box-flex: 0 0 8.333333%;
    -webkit-flex: 0 0 8.333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0 0 16.666667%;
    -moz-box-flex: 0 0 16.666667%;
    -webkit-flex: 0 0 16.666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0 0 25%;
    -moz-box-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0 0 33.333333%;
    -moz-box-flex: 0 0 33.333333%;
    -webkit-flex: 0 0 33.333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0 0 41.666667%;
    -moz-box-flex: 0 0 41.666667%;
    -webkit-flex: 0 0 41.666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0 0 50%;
    -moz-box-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
  }
  .col-md-10 {
    -webkit-box-flex: 0 0 83.333333%;
    -moz-box-flex: 0 0 83.333333%;
    -webkit-flex: 0 0 83.333333%;
  }
  .col-md-12 {
    -webkit-box-flex: 0 0 100%;
    -moz-box-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
  }
}
@media (min-width:992px) {
  .col-lg-1 {
    -webkit-box-flex: 0 0 8.333333%;
    -moz-box-flex: 0 0 8.333333%;
    -webkit-flex: 0 0 8.333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0 0 16.666667%;
    -moz-box-flex: 0 0 16.666667%;
    -webkit-flex: 0 0 16.666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0 0 25%;
    -moz-box-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0 0 33.333333%;
    -moz-box-flex: 0 0 33.333333%;
    -webkit-flex: 0 0 33.333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0 0 41.666667%;
    -moz-box-flex: 0 0 41.666667%;
    -webkit-flex: 0 0 41.666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0 0 50%;
    -moz-box-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0 0 66.666667%;
    -moz-box-flex: 0 0 66.666667%;
    -webkit-flex: 0 0 66.666667%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0 0 83.333333%;
    -moz-box-flex: 0 0 83.333333%;
    -webkit-flex: 0 0 83.333333%;
  }
}
@media (min-width:1200px) {
  .col-xl-2 {
    -webkit-box-flex: 0 0 16.666667%;
    -moz-box-flex: 0 0 16.666667%;
    -webkit-flex: 0 0 16.666667%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0 0 66.666667%;
    -moz-box-flex: 0 0 66.666667%;
    -webkit-flex: 0 0 66.666667%;
  }
}
.d-flex {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
}
.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
}
@media (min-width:768px) {
  .d-md-flex {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -webkit-flex !important;
  }
}
.flex-column {
  -webkit-flex-direction: column !important;
}
.flex-grow-1 {
  -webkit-box-flex: 1 !important;
  box-flex: 1 !important;
  -webkit-flex-grow: 1 !important;
}
.flex-shrink-0 {
  -webkit-flex-shrink: 0 !important;
}
.justify-content-end {
  -webkit-justify-content: flex-end !important;
}
.justify-content-center {
  -webkit-justify-content: center !important;
}
.justify-content-around {
  -webkit-justify-content: space-around !important;
}
.align-items-center {
  -webkit-align-items: center !important;
}
@media (min-width:768px) {
  .flex-md-row {
    -webkit-flex-direction: row !important;
  }
  .justify-content-md-end {
    -webkit-justify-content: flex-end !important;
  }
}
@media print {
  * {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
  *::before {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
  *::after {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
}
@media (max-width:576px) {
  .TopLogo {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
  }
}
.Header .Logo {
  -webkit-transform: translate(-13px,-9px);
  -ms-transform: translate(-13px,-9px);
  -o-transform: translate(-13px,-9px);
}
@media (min-width:576px) {
  .Header .Logo {
    -webkit-transform: translate(-17px,0);
    -ms-transform: translate(-17px,0);
    -o-transform: translate(-17px,0);
  }
}
@media (max-width:576px) {
  .ICameTitle {
    -webkit-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
  }
  .ICameTitle>span {
    -webkit-transform: translateX(-2px) !important;
    -ms-transform: translateX(-2px) !important;
    -o-transform: translateX(-2px) !important;
  }
}
@media (min-width:576px) {
  .ICameTitle>span {
    -webkit-transform: translate(5px,13px) !important;
    -ms-transform: translate(5px,13px) !important;
    -o-transform: translate(5px,13px) !important;
  }
}
@media (min-width:768px) {
  .ICameTitle>span {
    -webkit-transform: translate(-5px,11px) !important;
    -ms-transform: translate(-5px,11px) !important;
    -o-transform: translate(-5px,11px) !important;
  }
}
@media (min-width:992px) {
  .ICameTitle>span {
    -webkit-transform: translateY(14.5px) !important;
    -ms-transform: translateY(14.5px) !important;
    -o-transform: translateY(14.5px) !important;
  }
  .ICameCopy {
    -webkit-transform: translateY(3.5px) !important;
    -ms-transform: translateY(3.5px) !important;
    -o-transform: translateY(3.5px) !important;
  }
}
@media (min-width:1200px) {
  .ICameTitle>span {
    -webkit-transform: translate(37px,16px) !important;
    -ms-transform: translate(37px,16px) !important;
    -o-transform: translate(37px,16px) !important;
  }
  .ICameCopy {
    -webkit-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
  }
}
.Message {
  width: -webkit-calc(100% + 10px);
  width: -moz-calc(100% + 10px);
}
@media (min-width:1200px) {
  .Message {
    width: -webkit-calc(100% - 39px);
    width: -moz-calc(100% - 39px);
  }
}
@media (max-width:576px) {
  .ICameCopy {
    -webkit-transform: translateY(9px);
    -ms-transform: translateY(9px);
    -o-transform: translateY(9px);
  }
}
.ICame {
  margin-top: -webkit-calc(3rem + 7px);
  margin-top: -moz-calc(3rem + 7px);
}
@media (max-width:576px) {
  .Video video {
    -webkit-transform: scale(1.02) translateY(9px);
    -ms-transform: scale(1.02) translateY(9px);
    -o-transform: scale(1.02) translateY(9px);
  }
}
@media (min-width:992px) {
  .Video video {
    -webkit-transform: scale(.99);
    -ms-transform: scale(.99);
    -o-transform: scale(.99);
  }
}
@media (min-width:1200px) {
  .Video video {
    -webkit-transform: scale(.98);
    -ms-transform: scale(.98);
    -o-transform: scale(.98);
  }
}
.VideoEclipse {
  background: -webkit-radial-gradient(50% 50% at 50% 50%,#ffffff 0%,#65dcea 33.96%,#15a4ff 51.04%,#0b161d 100%);
  background: -moz-radial-gradient(50% 50% at 50% 50%,#ffffff 0%,#65dcea 33.96%,#15a4ff 51.04%,#0b161d 100%);
  background: -o-radial-gradient(50% 50% at 50% 50%,#ffffff 0%,#65dcea 33.96%,#15a4ff 51.04%,#0b161d 100%);
}
.Video .Frame {
  width: -webkit-calc(100% - 34px);
  width: -moz-calc(100% - 34px);
}
@media (max-width:576px) {
  .Video .Frame {
    width: -webkit-calc(100% - 24px);
    width: -moz-calc(100% - 24px);
  }
}
@media (max-width:768px) {
  .Video .Frame {
    width: -webkit-calc(100% - 25px);
    width: -moz-calc(100% - 25px);
  }
}
@media (min-width:1200px) {
  h2.TypesOfCleaning {
    -webkit-transform: translate(-17px,-4px);
    -ms-transform: translate(-17px,-4px);
    -o-transform: translate(-17px,-4px);
  }
}
.ExtraCo {
  padding-bottom: -webkit-calc(2.7rem + 2px);
  padding-bottom: -moz-calc(2.7rem + 2px);
}
@media (max-width:576px) {
  .Bubble6 {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
  }
}
@media (max-width:576px) {
  .T2 {
    padding-left: -webkit-calc(2rem + 5px);
    padding-left: -moz-calc(2rem + 5px);
    padding-right: -webkit-calc(2rem + 5px);
    padding-right: -moz-calc(2rem + 5px);
  }
}
.EllipseSm {
  background: -webkit-radial-gradient(40.16% 40.16% at 53.42% 48.6%,#64baffe6 0%,#81f2ffe6 31.77%,#00a3ffe6 100.42%,#0b161d 110%);
  background: -moz-radial-gradient(40.16% 40.16% at 53.42% 48.6%,#64baffe6 0%,#81f2ffe6 31.77%,#00a3ffe6 100.42%,#0b161d 110%);
  background: -o-radial-gradient(40.16% 40.16% at 53.42% 48.6%,#64baffe6 0%,#81f2ffe6 31.77%,#00a3ffe6 100.42%,#0b161d 110%);
  left: -webkit-calc(50% - 1111.27px/2 - 3.5px);
  left: -moz-calc(50% - 1111.27px/2 - 3.5px);
}
.EllipseLg {
  background: -webkit-radial-gradient(40.16% 40.16% at 53.42% 48.6%,#8cd8e5 20%,#81f2ffe6 61.77%,#00a3ffe6 120.42%,#0b161d 110%);
  background: -moz-radial-gradient(40.16% 40.16% at 53.42% 48.6%,#8cd8e5 20%,#81f2ffe6 61.77%,#00a3ffe6 120.42%,#0b161d 110%);
  background: -o-radial-gradient(40.16% 40.16% at 53.42% 48.6%,#8cd8e5 20%,#81f2ffe6 61.77%,#00a3ffe6 120.42%,#0b161d 110%);
}
.OrderBuImDown {
  -webkit-transform: translate(-5px,1px);
  -ms-transform: translate(-5px,1px);
  -o-transform: translate(-5px,1px);
}
@media (min-width:576px) {
  .OrderWr:active span {
    -webkit-transform: translate(-3px,1px);
    -ms-transform: translate(-3px,1px);
    -o-transform: translate(-3px,1px);
  }
}
.CTC_Radial {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  background: -webkit-radial-gradient(#ffcb05 15%,transparent 57%);
  background: -moz-radial-gradient(#ffcb05 15%,transparent 57%);
  background: -o-radial-gradient(#ffcb05 15%,transparent 57%);
}
@media (max-width:768px) {
  .FooterCo .PadLeft {
    padding-left: -webkit-calc(5.8rem - 3px);
    padding-left: -moz-calc(5.8rem - 3px);
  }
}
.SmotriWr {
  padding-left: -webkit-calc(1rem - 1px);
  padding-left: -moz-calc(1rem - 1px);
}
.Box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.Bullet {
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
}
.Bullet2 {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
}
.Select {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.Rect224 {
  left: -webkit-calc(25% + 1px);
  left: -moz-calc(25% + 1px);
}
.OuterRect {
  width: -webkit-calc(100% - 175px);
  width: -moz-calc(100% - 175px);
}
.Stroke1 {
  left: -webkit-calc(50% - 50px);
  left: -moz-calc(50% - 50px);
}
@media (min-width:375px) {
  .Frame547 {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
  }
}
.Ellipse72 {
  left: -webkit-calc(5%);
  left: -moz-calc(5%);
}
.Skew10 {
  -webkit-transform: skew(45deg,0deg);
  -ms-transform: skew(45deg,0deg);
  -o-transform: skew(45deg,0deg);
}
.Skew20 {
  -webkit-transform: skew(0,51deg);
  -ms-transform: skew(0,51deg);
  -o-transform: skew(0,51deg);
}
.EllipseEmployee {
  -webkit-mask: -webkit-linear-gradient(180deg,#000000 90%,#ffffff00);
  -webkit-mask: -moz-linear-gradient(180deg,#000000 90%,#ffffff00);
  -webkit-mask: -ms-linear-gradient(180deg,#000000 90%,#ffffff00);
  -webkit-mask: -o-linear-gradient(180deg,#000000 90%,#ffffff00);
  mask: -webkit-linear-gradient(180deg,#000000 90%,#ffffff00);
  mask: -moz-linear-gradient(180deg,#000000 90%,#ffffff00);
  mask: -ms-linear-gradient(180deg,#000000 90%,#ffffff00);
  mask: -o-linear-gradient(180deg,#000000 90%,#ffffff00);
}
@media (min-width:576px) {
  .EllipseEmployee {
    -webkit-mask: -webkit-linear-gradient(180deg,#ffffff00 0%,#000000 10%,#000000 90%,#ffffff00);
    -webkit-mask: -moz-linear-gradient(180deg,#ffffff00 0%,#000000 10%,#000000 90%,#ffffff00);
    -webkit-mask: -ms-linear-gradient(180deg,#ffffff00 0%,#000000 10%,#000000 90%,#ffffff00);
    -webkit-mask: -o-linear-gradient(180deg,#ffffff00 0%,#000000 10%,#000000 90%,#ffffff00);
    mask: -webkit-linear-gradient(180deg,#ffffff00 0%,#000000 10%,#000000 90%,#ffffff00) l;
    mask: -moz-linear-gradient(180deg,#ffffff00 0%,#000000 10%,#000000 90%,#ffffff00) l;
    mask: -ms-linear-gradient(180deg,#ffffff00 0%,#000000 10%,#000000 90%,#ffffff00) l;
    mask: -o-linear-gradient(180deg,#ffffff00 0%,#000000 10%,#000000 90%,#ffffff00) l;
  }
}
@media (min-width:1200px) {
  .Lines2Desk .FirstFrame {
    -webkit-animation: move2_desk 11s linear infinite;
    -o-animation: move2_desk 11s linear infinite;
  }
  .BottomLineDesk .FirstFrame2 {
    -webkit-animation: move2_second_desk 11s linear infinite;
    -o-animation: move2_second_desk 11s linear infinite;
  }
}
@media (min-width:800px) {
  .BottomLineDesk .FirstFrame2 {
    -webkit-animation: move2_second_desk_3 11s linear infinite;
    -o-animation: move2_second_desk_3 11s linear infinite;
  }
}
@media (min-width:1200px) {
  .AboutBottom {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
  }
  .AboutImg {
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
  }
}
@font-face {
}
@font-face {
}
.Box2Achieve {
  left: -webkit-calc(50% - 80px);
  left: -moz-calc(50% - 80px);
}
.Achieve2Ellipse {
  left: -webkit-calc(50% - 120px);
  left: -moz-calc(50% - 120px);
}
.Rect {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-sizing: border-box;
}
.Rect2 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-sizing: border-box;
  background: -webkit-radial-gradient(27% 160% at 44% 49.76%,#b2fafd 0%,#4bcdf0 100%);
  background: -moz-radial-gradient(27% 160% at 44% 49.76%,#b2fafd 0%,#4bcdf0 100%);
  background: -o-radial-gradient(27% 160% at 44% 49.76%,#b2fafd 0%,#4bcdf0 100%);
  -webkit-transform: rotate(3.23deg);
  -ms-transform: rotate(3.23deg);
  -o-transform: rotate(3.23deg);
}
.Rect {
  background: -webkit-radial-gradient(34% 100.39% at 60.1% 50.76%,white 0%,#c8f1ff 100%);
  background: -moz-radial-gradient(34% 100.39% at 60.1% 50.76%,white 0%,#c8f1ff 100%);
  background: -o-radial-gradient(34% 100.39% at 60.1% 50.76%,white 0%,#c8f1ff 100%);
  -webkit-transform: rotate(-3.23deg);
  -ms-transform: rotate(-3.23deg);
  -o-transform: rotate(-3.23deg);
}
.Lines {
  width: -webkit-calc(100% + 20px);
  width: -moz-calc(100% + 20px);
}
@keyframes move {
  0% {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@media (max-width:576px) {
  .Rect {
    -webkit-transform: rotate(-4.53deg);
    -ms-transform: rotate(-4.53deg);
    -o-transform: rotate(-4.53deg);
  }
  .Rect2 {
    -webkit-transform: rotate(4.56deg);
    -ms-transform: rotate(4.56deg);
    -o-transform: rotate(4.56deg);
  }
  .Lines .FirstLine .Frame {
    -webkit-animation: move 7s linear infinite;
    -o-animation: move 7s linear infinite;
  }
  .Lines .SecondLine .Frame {
    -webkit-animation: move 5.5s linear infinite;
    -o-animation: move 5.5s linear infinite;
  }
}
@media (min-width:576px) {
  .Lines {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }
  .Lines .FirstLine .Frame {
    -webkit-animation: move 7s linear infinite;
    -o-animation: move 7s linear infinite;
  }
  .Lines .SecondLine .Frame {
    -webkit-animation: move 5.5s linear infinite;
    -o-animation: move 5.5s linear infinite;
  }
}
@media (min-width:1200px) {
  .Lines {
    -webkit-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    -o-transform: translateY(-70px);
  }
}
@media (min-width:1440px) {
  .Lines {
    -webkit-transform: translateY(-65px);
    -ms-transform: translateY(-65px);
    -o-transform: translateY(-65px);
  }
}
@media (min-width:1620px) {
  .Lines {
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
  }
}
@media (min-width:1900px) {
  .Lines:not(.LinesMid) {
    -webkit-transform: translateY(-60px) scale(1.2);
    -ms-transform: translateY(-60px) scale(1.2);
    -o-transform: translateY(-60px) scale(1.2);
  }
}
@media (min-width:2200px) {
  .Lines:not(.LinesMid) {
    -webkit-transform: translateY(-57px) scale(1.3);
    -ms-transform: translateY(-57px) scale(1.3);
    -o-transform: translateY(-57px) scale(1.3);
  }
}
@media (min-width:2400px) {
  .Lines:not(.LinesMid) {
    -webkit-transform: translateY(-54px) scale(1.4);
    -ms-transform: translateY(-54px) scale(1.4);
    -o-transform: translateY(-54px) scale(1.4);
  }
}
.CyberBackdrop {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
@media (max-width:576px) {
  .CyberContyrWr {
    -webkit-transform: scale(1.38) translate(35px,18px);
    -ms-transform: scale(1.38) translate(35px,18px);
    -o-transform: scale(1.38) translate(35px,18px);
  }
}
@media (min-width:768px) {
  .CyberIvanCopy {
    -webkit-transform: translate(0,35px);
    -ms-transform: translate(0,35px);
    -o-transform: translate(0,35px);
  }
  .CyberIvanRow {
    -webkit-transform: translateY(-23px);
    -ms-transform: translateY(-23px);
    -o-transform: translateY(-23px);
  }
}
@media (min-width:768px) and (max-width:992px) {
  .CyberIvanCopy {
    -webkit-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    -o-transform: translate(0,50px);
  }
}
@media (min-width:992px) {
  .CyberIvanCopy {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
  }
  .CyberIvanRow {
    -webkit-transform: translateY(-23px);
    -ms-transform: translateY(-23px);
    -o-transform: translateY(-23px);
  }
}
.CyberDot {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  left: -webkit-calc(50% - 3px);
  left: -moz-calc(50% - 3px);
}
@media (min-width:992px) {
  .CyberContyrWr {
    -webkit-transform: translate(7px,-2px);
    -ms-transform: translate(7px,-2px);
    -o-transform: translate(7px,-2px);
  }
  .CyberDot {
    left: -webkit-calc(50% - 6px);
    left: -moz-calc(50% - 6px);
  }
  .CyberIvanCopy {
    -webkit-transform: translate(0,-35px);
    -ms-transform: translate(0,-35px);
    -o-transform: translate(0,-35px);
  }
  .CyberEmployee {
    -webkit-box-shadow: 0 0 6px 0 #a2f3fb;
    -moz-box-shadow: 0 0 6px 0 #a2f3fb;
  }
}
@media (min-width:992px) and (max-width:1200px) {
  .CyberEmployee {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
  }
}
@media (min-width:1200px) {
  .CyberPng {
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
  }
}
@media (max-width:992px) {
  .Bubble10 {
    -webkit-transform: scale(.75);
    -ms-transform: scale(.75);
    -o-transform: scale(.75);
  }
}
@media (max-width:576px) {
  .Bubble10 {
    -webkit-transform: scale(.9) translate(2px,17px);
    -ms-transform: scale(.9) translate(2px,17px);
    -o-transform: scale(.9) translate(2px,17px);
  }
}
.OrderMobEllipse {
  left: -webkit-calc(50% - 376px/2 + .5px);
  left: -moz-calc(50% - 376px/2 + .5px);
  background: -webkit-radial-gradient(40.16% 40.16% at 53.42% 48.6%,#ffffed 0%,#81f2ff 31.77%,#00a3ff 100.42%,#0b161d 100%);
  background: -moz-radial-gradient(40.16% 40.16% at 53.42% 48.6%,#ffffed 0%,#81f2ff 31.77%,#00a3ff 100.42%,#0b161d 100%);
  background: -o-radial-gradient(40.16% 40.16% at 53.42% 48.6%,#ffffed 0%,#81f2ff 31.77%,#00a3ff 100.42%,#0b161d 100%);
}
.SubmitButton:active {
  -webkit-transform: scale(.85);
  -ms-transform: scale(.85);
  -o-transform: scale(.85);
}
.OrderDeskEllipse {
  left: -webkit-calc(50% - 536px/2);
  left: -moz-calc(50% - 536px/2);
  background: -webkit-radial-gradient(40.16% 40.16% at 53.42% 48.6%,#ffffed 0%,#81f2ff 31.77%,#00a3ff 92.42%,#0b161d 120%);
  background: -moz-radial-gradient(40.16% 40.16% at 53.42% 48.6%,#ffffed 0%,#81f2ff 31.77%,#00a3ff 92.42%,#0b161d 120%);
  background: -o-radial-gradient(40.16% 40.16% at 53.42% 48.6%,#ffffed 0%,#81f2ff 31.77%,#00a3ff 92.42%,#0b161d 120%);
}
.About .Border {
  width: -webkit-calc(100% - 3px);
  width: -moz-calc(100% - 3px);
}
.AboutBottom {
  -webkit-transform: translateY(-14px);
  -ms-transform: translateY(-14px);
  -o-transform: translateY(-14px);
}
@media (min-width:576px) and (max-width:768px) {
  .About h5 {
    -webkit-transform: translateY(-43px);
    -ms-transform: translateY(-43px);
    -o-transform: translateY(-43px);
  }
}
@media (min-width:576px) {
  .AboutBottom {
    -webkit-transform: translateY(22px);
    -ms-transform: translateY(22px);
    -o-transform: translateY(22px);
  }
  .About .Border {
    width: -webkit-calc(100% + 27px);
    width: -moz-calc(100% + 27px);
  }
}
@media (min-width:768px) {
  .About .Border {
    width: -webkit-calc(100% + 85px);
    width: -moz-calc(100% + 85px);
  }
}
@media (min-width:992px) and (max-width:1200px) {
  .AboutBottom h5 {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
  }
}
@media (min-width:768px) {
  .AboutBottom {
    -webkit-transform: translateY(14px);
    -ms-transform: translateY(14px);
    -o-transform: translateY(14px);
  }
}
@media (min-width:768px) and (max-width:992px) {
  .AboutImg {
    -webkit-transform: translate(18px,20px);
    -ms-transform: translate(18px,20px);
    -o-transform: translate(18px,20px);
  }
}
@media (min-width:992px) {
  .AboutBottom {
    -webkit-transform: translateY(19px);
    -ms-transform: translateY(19px);
    -o-transform: translateY(19px);
  }
}
@media (min-width:1200px) {
  .AboutBottom {
    -webkit-transform: translateY(32px);
    -ms-transform: translateY(32px);
    -o-transform: translateY(32px);
  }
}
.Bubble4_Desk {
  -webkit-transform: translate(4px,-41px) scale(1.2);
  -ms-transform: translate(4px,-41px) scale(1.2);
  -o-transform: translate(4px,-41px) scale(1.2);
}
.Bubble4_Mob {
  -webkit-transform: translate(-74px,-37px);
  -ms-transform: translate(-74px,-37px);
  -o-transform: translate(-74px,-37px);
}
@media (max-width:576px) {
  .About {
    margin-top: -webkit-calc(3rem - 7px);
    margin-top: -moz-calc(3rem - 7px);
  }
}
.BulletMob {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
}
.BulletMobTop {
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
}
.BulletMobBot {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
@media (max-width:576px) {
  .Bullet2 {
    -webkit-transform: translate(10px);
    -ms-transform: translate(10px);
    -o-transform: translate(10px);
  }
}
@media (min-width:576px) {
  .StepsDesk .ThreeIcon {
    -webkit-transform: translate(57px,0);
    -ms-transform: translate(57px,0);
    -o-transform: translate(57px,0);
  }
}
@media (min-width:768px) {
  .StepsDesk .ThreeIcon {
    -webkit-transform: translate(38px,0);
    -ms-transform: translate(38px,0);
    -o-transform: translate(38px,0);
  }
}
@media (min-width:992px) {
  .StepsDesk .ThreeIcon {
    -webkit-transform: translate(52px,0);
    -ms-transform: translate(52px,0);
    -o-transform: translate(52px,0);
  }
}
.SoapDesk {
  -webkit-transform: translate(-42px,0);
  -ms-transform: translate(-42px,0);
  -o-transform: translate(-42px,0);
}
@media (min-width:1200px) {
  .StepsDesk .ThreeIcon {
    -webkit-transform: translate(57px,0);
    -ms-transform: translate(57px,0);
    -o-transform: translate(57px,0);
  }
  .SoapDesk {
    -webkit-transform: translate(-35px,0);
    -ms-transform: translate(-35px,0);
    -o-transform: translate(-35px,0);
  }
  .CheckDesk {
    -webkit-transform: translate(4px,4px);
    -ms-transform: translate(4px,4px);
    -o-transform: translate(4px,4px);
  }
  .PresentDesk {
    -webkit-transform: translate(0,-3px);
    -ms-transform: translate(0,-3px);
    -o-transform: translate(0,-3px);
  }
}
.PipeMob {
  line-height: -webkit-calc(1.7rem - 1px);
  line-height: -moz-calc(1.7rem - 1px);
}
.PipeMob2 {
  line-height: -webkit-calc(2.2rem);
  line-height: -moz-calc(2.2rem);
}
.Bubble_Steps_Mob {
  -webkit-transform: scale(1.18);
  -ms-transform: scale(1.18);
  -o-transform: scale(1.18);
}
@media (min-width:576px) {
  .LeftCircle, .RightCircle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  .MidCircle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    left: -webkit-calc(50% - 3px);
    left: -moz-calc(50% - 3px);
  }
}
@font-face {
}
@font-face {
}
@font-face {
}
@font-face {
}
.RightColumn {
  -moz-hyphens: auto;
}
.BottomBar {
  -webkit-transform: skew(-47deg,0deg);
  -ms-transform: skew(-47deg,0deg);
  -o-transform: skew(-47deg,0deg);
}
.TopBar {
  -webkit-transform: skew(-47deg,0deg);
  -ms-transform: skew(-47deg,0deg);
  -o-transform: skew(-47deg,0deg);
}
picture {
  -webkit-animation: none !important;
  -o-animation: none !important;
}
