.FS0, .FontSize0 { font-size: 0rem; }
.FS1, .FontSize1 { font-size: 0.063rem; }
.FS2, .FontSize2 { font-size: 0.125rem; }
.FS3, .FontSize3 { font-size: 0.188rem; }
.FS4, .FontSize4 { font-size: 0.25rem; }
.FS5, .FontSize5 { font-size: 0.313rem; }
.FS6, .FontSize6 { font-size: 0.375rem; }
.FS7, .FontSize7 { font-size: 0.438rem; }
.FS8, .FontSize8 { font-size: 0.5rem; }
.FS9, .FontSize9 { font-size: 0.563rem; }
.FS10, .FontSize10 { font-size: 0.625rem; }
.FS11, .FontSize11 { font-size: 0.688rem; }
.FS12, .FontSize12 { font-size: 0.75rem; }
.FS13, .FontSize13 { font-size: 0.813rem; }
.FS14, .FontSize14 { font-size: 0.875rem; }
.FS15, .FontSize15 { font-size: 0.938rem; }
.FS16, .FontSize16 { font-size: 1rem; }
.FS17, .FontSize17 { font-size: 1.063rem; }
.FS18, .FontSize18 { font-size: 1.125rem; }
.FS19, .FontSize19 { font-size: 1.188rem; }
.FS20, .FontSize20 { font-size: 1.25rem; }
.FS21, .FontSize21 { font-size: 1.313rem; }
.FS22, .FontSize22 { font-size: 1.375rem; }
.FS23, .FontSize23 { font-size: 1.438rem; }
.FS24, .FontSize24 { font-size: 1.5rem; }
.FS25, .FontSize25 { font-size: 1.563rem; }
.FS26, .FontSize26 { font-size: 1.625rem; }
.FS27, .FontSize27 { font-size: 1.688rem; }
.FS28, .FontSize28 { font-size: 1.75rem; }
.FS29, .FontSize29 { font-size: 1.813rem; }
.FS30, .FontSize30 { font-size: 1.875rem; }
.FS31, .FontSize31 { font-size: 1.938rem; }
.FS32, .FontSize32 { font-size: 2rem; }
.FS33, .FontSize33 { font-size: 2.063rem; }
.FS34, .FontSize34 { font-size: 2.125rem; }
.FS35, .FontSize35 { font-size: 2.188rem; }
.FS36, .FontSize36 { font-size: 2.25rem; }
.FS37, .FontSize37 { font-size: 2.313rem; }
.FS38, .FontSize38 { font-size: 2.375rem; }
.FS39, .FontSize39 { font-size: 2.438rem; }
.FS40, .FontSize40 { font-size: 2.5rem; }
.FS41, .FontSize41 { font-size: 2.563rem; }
.FS42, .FontSize42 { font-size: 2.625rem; }
.FS43, .FontSize43 { font-size: 2.688rem; }
.FS44, .FontSize44 { font-size: 2.75rem; }
.FS45, .FontSize45 { font-size: 2.813rem; }
.FS46, .FontSize46 { font-size: 2.875rem; }
.FS47, .FontSize47 { font-size: 2.938rem; }
.FS48, .FontSize48 { font-size: 3rem; }
.FS49, .FontSize49 { font-size: 3.063rem; }
.FS50, .FontSize50 { font-size: 3.125rem; }
.FS51, .FontSize51 { font-size: 3.188rem; }
.FS52, .FontSize52 { font-size: 3.25rem; }
.FS53, .FontSize53 { font-size: 3.313rem; }
.FS54, .FontSize54 { font-size: 3.375rem; }
.FS55, .FontSize55 { font-size: 3.438rem; }
.FS56, .FontSize56 { font-size: 3.5rem; }
.FS57, .FontSize57 { font-size: 3.563rem; }
.FS58, .FontSize58 { font-size: 3.625rem; }
.FS59, .FontSize59 { font-size: 3.688rem; }
.FS60, .FontSize60 { font-size: 3.75rem; }
.FS61, .FontSize61 { font-size: 3.813rem; }
.FS62, .FontSize62 { font-size: 3.875rem; }
.FS63, .FontSize63 { font-size: 3.938rem; }
.FS64, .FontSize64 { font-size: 4rem; }
.FS65, .FontSize65 { font-size: 4.063rem; }
.FS66, .FontSize66 { font-size: 4.125rem; }
.FS67, .FontSize67 { font-size: 4.188rem; }
.FS68, .FontSize68 { font-size: 4.25rem; }
.FS69, .FontSize69 { font-size: 4.313rem; }
.FS70, .FontSize70 { font-size: 4.375rem; }
.FS71, .FontSize71 { font-size: 4.438rem; }
.FS72, .FontSize72 { font-size: 4.5rem; }
.FS73, .FontSize73 { font-size: 4.563rem; }
.FS74, .FontSize74 { font-size: 4.625rem; }
.FS75, .FontSize75 { font-size: 4.688rem; }
.FS76, .FontSize76 { font-size: 4.75rem; }
.FS77, .FontSize77 { font-size: 4.813rem; }
.FS78, .FontSize78 { font-size: 4.875rem; }
.FS79, .FontSize79 { font-size: 4.938rem; }
.FS80, .FontSize80 { font-size: 5rem; }
.FS81, .FontSize81 { font-size: 5.063rem; }
.FS82, .FontSize82 { font-size: 5.125rem; }
.FS83, .FontSize83 { font-size: 5.188rem; }
.FS84, .FontSize84 { font-size: 5.25rem; }
.FS85, .FontSize85 { font-size: 5.313rem; }
.FS86, .FontSize86 { font-size: 5.375rem; }
.FS87, .FontSize87 { font-size: 5.438rem; }
.FS88, .FontSize88 { font-size: 5.5rem; }
.FS89, .FontSize89 { font-size: 5.563rem; }
.FS90, .FontSize90 { font-size: 5.625rem; }
.FS91, .FontSize91 { font-size: 5.688rem; }
.FS92, .FontSize92 { font-size: 5.75rem; }
.FS93, .FontSize93 { font-size: 5.813rem; }
.FS94, .FontSize94 { font-size: 5.875rem; }
.FS95, .FontSize95 { font-size: 5.938rem; }
.FS96, .FontSize96 { font-size: 6rem; }
.FS97, .FontSize97 { font-size: 6.063rem; }
.FS98, .FontSize98 { font-size: 6.125rem; }
.FS99, .FontSize99 { font-size: 6.188rem; }
.FS100, .FontSize100 { font-size: 6.25rem; }
.FW100, .FontWeight100 { font-weight: 100; }
.FW200, .FontWeight200 { font-weight: 200; }
.FW300, .FontWeight300 { font-weight: 300; }
.FW400, .FontWeight400 { font-weight: 400; }
.FW500, .FontWeight500 { font-weight: 500; }
.FW600, .FontWeight600 { font-weight: 600; }
.FW700, .FontWeight700 { font-weight: 700; }
.FW800, .FontWeight800 { font-weight: 800; }
.FW900, .FontWeight900 { font-weight: 900; }
@media(max-width:576px) {
  .FS0, .FontSize0 { font-size: 0rem; }
  .FS1, .FontSize1 { font-size: 0.054rem; }
  .FS2, .FontSize2 { font-size: 0.108rem; }
  .FS3, .FontSize3 { font-size: 0.162rem; }
  .FS4, .FontSize4 { font-size: 0.216rem; }
  .FS5, .FontSize5 { font-size: 0.271rem; }
  .FS6, .FontSize6 { font-size: 0.325rem; }
  .FS7, .FontSize7 { font-size: 0.379rem; }
  .FS8, .FontSize8 { font-size: 0.433rem; }
  .FS9, .FontSize9 { font-size: 0.487rem; }
  .FS10, .FontSize10 { font-size: 0.541rem; }
  .FS11, .FontSize11 { font-size: 0.595rem; }
  .FS12, .FontSize12 { font-size: 0.649rem; }
  .FS13, .FontSize13 { font-size: 0.703rem; }
  .FS14, .FontSize14 { font-size: 0.758rem; }
  .FS15, .FontSize15 { font-size: 0.812rem; }
  .FS16, .FontSize16 { font-size: 0.692rem; }
  .FS17, .FontSize17 { font-size: 0.735rem; }
  .FS18, .FontSize18 { font-size: 0.779rem; }
  .FS19, .FontSize19 { font-size: 0.822rem; }
  .FS20, .FontSize20 { font-size: 0.865rem; }
  .FS21, .FontSize21 { font-size: 0.908rem; }
  .FS22, .FontSize22 { font-size: 0.952rem; }
  .FS23, .FontSize23 { font-size: 0.995rem; }
  .FS24, .FontSize24 { font-size: 1.038rem; }
  .FS25, .FontSize25 { font-size: 1.081rem; }
  .FS26, .FontSize26 { font-size: 1.125rem; }
  .FS27, .FontSize27 { font-size: 1.168rem; }
  .FS28, .FontSize28 { font-size: 1.211rem; }
  .FS29, .FontSize29 { font-size: 1.254rem; }
  .FS30, .FontSize30 { font-size: 1.298rem; }
  .FS31, .FontSize31 { font-size: 1.341rem; }
  .FS32, .FontSize32 { font-size: 1.384rem; }
  .FS33, .FontSize33 { font-size: 1.427rem; }
  .FS34, .FontSize34 { font-size: 1.471rem; }
  .FS35, .FontSize35 { font-size: 1.514rem; }
  .FS36, .FontSize36 { font-size: 1.557rem; }
  .FS37, .FontSize37 { font-size: 1.6rem; }
  .FS38, .FontSize38 { font-size: 1.644rem; }
  .FS39, .FontSize39 { font-size: 1.687rem; }
  .FS40, .FontSize40 { font-size: 1.73rem; }
  .FS41, .FontSize41 { font-size: 1.773rem; }
  .FS42, .FontSize42 { font-size: 1.817rem; }
  .FS43, .FontSize43 { font-size: 1.86rem; }
  .FS44, .FontSize44 { font-size: 1.903rem; }
  .FS45, .FontSize45 { font-size: 1.946rem; }
  .FS46, .FontSize46 { font-size: 1.99rem; }
  .FS47, .FontSize47 { font-size: 2.033rem; }
  .FS48, .FontSize48 { font-size: 2.076rem; }
  .FS49, .FontSize49 { font-size: 2.119rem; }
  .FS50, .FontSize50 { font-size: 2.163rem; }
  .FS51, .FontSize51 { font-size: 2.206rem; }
  .FS52, .FontSize52 { font-size: 2.249rem; }
  .FS53, .FontSize53 { font-size: 2.292rem; }
  .FS54, .FontSize54 { font-size: 2.336rem; }
  .FS55, .FontSize55 { font-size: 2.379rem; }
  .FS56, .FontSize56 { font-size: 2.422rem; }
  .FS57, .FontSize57 { font-size: 2.465rem; }
  .FS58, .FontSize58 { font-size: 2.509rem; }
  .FS59, .FontSize59 { font-size: 2.552rem; }
  .FS60, .FontSize60 { font-size: 2.595rem; }
  .FS61, .FontSize61 { font-size: 2.638rem; }
  .FS62, .FontSize62 { font-size: 2.682rem; }
  .FS63, .FontSize63 { font-size: 2.725rem; }
  .FS64, .FontSize64 { font-size: 2.768rem; }
  .FS65, .FontSize65 { font-size: 2.811rem; }
  .FS66, .FontSize66 { font-size: 2.855rem; }
  .FS67, .FontSize67 { font-size: 2.898rem; }
  .FS68, .FontSize68 { font-size: 2.941rem; }
  .FS69, .FontSize69 { font-size: 2.984rem; }
  .FS70, .FontSize70 { font-size: 3.028rem; }
  .FS71, .FontSize71 { font-size: 3.071rem; }
  .FS72, .FontSize72 { font-size: 3.114rem; }
  .FS73, .FontSize73 { font-size: 3.157rem; }
  .FS74, .FontSize74 { font-size: 3.201rem; }
  .FS75, .FontSize75 { font-size: 3.244rem; }
  .FS76, .FontSize76 { font-size: 3.287rem; }
  .FS77, .FontSize77 { font-size: 3.33rem; }
  .FS78, .FontSize78 { font-size: 3.374rem; }
  .FS79, .FontSize79 { font-size: 3.417rem; }
  .FS80, .FontSize80 { font-size: 3.46rem; }
  .FS81, .FontSize81 { font-size: 3.503rem; }
  .FS82, .FontSize82 { font-size: 3.547rem; }
  .FS83, .FontSize83 { font-size: 3.59rem; }
  .FS84, .FontSize84 { font-size: 3.633rem; }
  .FS85, .FontSize85 { font-size: 3.676rem; }
  .FS86, .FontSize86 { font-size: 3.72rem; }
  .FS87, .FontSize87 { font-size: 3.763rem; }
  .FS88, .FontSize88 { font-size: 3.806rem; }
  .FS89, .FontSize89 { font-size: 3.849rem; }
  .FS90, .FontSize90 { font-size: 3.893rem; }
  .FS91, .FontSize91 { font-size: 3.936rem; }
  .FS92, .FontSize92 { font-size: 3.979rem; }
  .FS93, .FontSize93 { font-size: 4.022rem; }
  .FS94, .FontSize94 { font-size: 4.066rem; }
  .FS95, .FontSize95 { font-size: 4.109rem; }
  .FS96, .FontSize96 { font-size: 4.152rem; }
  .FS97, .FontSize97 { font-size: 4.196rem; }
  .FS98, .FontSize98 { font-size: 4.239rem; }
  .FS99, .FontSize99 { font-size: 4.282rem; }
  .FS100, .FontSize100 { font-size: 4.325rem; }
}
@media(min-width:576px) and (max-width:768px) {
  .FS0, .FontSize0 { font-size: 0rem; }
  .FS1, .FontSize1 { font-size: 0.055rem; }
  .FS2, .FontSize2 { font-size: 0.11rem; }
  .FS3, .FontSize3 { font-size: 0.165rem; }
  .FS4, .FontSize4 { font-size: 0.22rem; }
  .FS5, .FontSize5 { font-size: 0.275rem; }
  .FS6, .FontSize6 { font-size: 0.33rem; }
  .FS7, .FontSize7 { font-size: 0.385rem; }
  .FS8, .FontSize8 { font-size: 0.441rem; }
  .FS9, .FontSize9 { font-size: 0.496rem; }
  .FS10, .FontSize10 { font-size: 0.551rem; }
  .FS11, .FontSize11 { font-size: 0.606rem; }
  .FS12, .FontSize12 { font-size: 0.661rem; }
  .FS13, .FontSize13 { font-size: 0.716rem; }
  .FS14, .FontSize14 { font-size: 0.771rem; }
  .FS15, .FontSize15 { font-size: 0.826rem; }
  .FS16, .FontSize16 { font-size: 0.702rem; }
  .FS17, .FontSize17 { font-size: 0.746rem; }
  .FS18, .FontSize18 { font-size: 0.789rem; }
  .FS19, .FontSize19 { font-size: 0.833rem; }
  .FS20, .FontSize20 { font-size: 0.877rem; }
  .FS21, .FontSize21 { font-size: 0.921rem; }
  .FS22, .FontSize22 { font-size: 0.965rem; }
  .FS23, .FontSize23 { font-size: 1.009rem; }
  .FS24, .FontSize24 { font-size: 1.053rem; }
  .FS25, .FontSize25 { font-size: 1.096rem; }
  .FS26, .FontSize26 { font-size: 1.14rem; }
  .FS27, .FontSize27 { font-size: 1.184rem; }
  .FS28, .FontSize28 { font-size: 1.228rem; }
  .FS29, .FontSize29 { font-size: 1.272rem; }
  .FS30, .FontSize30 { font-size: 1.316rem; }
  .FS31, .FontSize31 { font-size: 1.36rem; }
  .FS32, .FontSize32 { font-size: 1.404rem; }
  .FS33, .FontSize33 { font-size: 1.447rem; }
  .FS34, .FontSize34 { font-size: 1.491rem; }
  .FS35, .FontSize35 { font-size: 1.535rem; }
  .FS36, .FontSize36 { font-size: 1.579rem; }
  .FS37, .FontSize37 { font-size: 1.623rem; }
  .FS38, .FontSize38 { font-size: 1.667rem; }
  .FS39, .FontSize39 { font-size: 1.711rem; }
  .FS40, .FontSize40 { font-size: 1.754rem; }
  .FS41, .FontSize41 { font-size: 1.798rem; }
  .FS42, .FontSize42 { font-size: 1.842rem; }
  .FS43, .FontSize43 { font-size: 1.886rem; }
  .FS44, .FontSize44 { font-size: 1.93rem; }
  .FS45, .FontSize45 { font-size: 1.974rem; }
  .FS46, .FontSize46 { font-size: 2.018rem; }
  .FS47, .FontSize47 { font-size: 2.061rem; }
  .FS48, .FontSize48 { font-size: 2.105rem; }
  .FS49, .FontSize49 { font-size: 2.149rem; }
  .FS50, .FontSize50 { font-size: 2.193rem; }
  .FS51, .FontSize51 { font-size: 2.237rem; }
  .FS52, .FontSize52 { font-size: 2.281rem; }
  .FS53, .FontSize53 { font-size: 2.325rem; }
  .FS54, .FontSize54 { font-size: 2.368rem; }
  .FS55, .FontSize55 { font-size: 2.412rem; }
  .FS56, .FontSize56 { font-size: 2.456rem; }
  .FS57, .FontSize57 { font-size: 2.5rem; }
  .FS58, .FontSize58 { font-size: 2.544rem; }
  .FS59, .FontSize59 { font-size: 2.588rem; }
  .FS60, .FontSize60 { font-size: 2.632rem; }
  .FS61, .FontSize61 { font-size: 2.675rem; }
  .FS62, .FontSize62 { font-size: 2.719rem; }
  .FS63, .FontSize63 { font-size: 2.763rem; }
  .FS64, .FontSize64 { font-size: 2.807rem; }
  .FS65, .FontSize65 { font-size: 2.851rem; }
  .FS66, .FontSize66 { font-size: 2.895rem; }
  .FS67, .FontSize67 { font-size: 2.939rem; }
  .FS68, .FontSize68 { font-size: 2.982rem; }
  .FS69, .FontSize69 { font-size: 3.026rem; }
  .FS70, .FontSize70 { font-size: 3.07rem; }
  .FS71, .FontSize71 { font-size: 3.114rem; }
  .FS72, .FontSize72 { font-size: 3.158rem; }
  .FS73, .FontSize73 { font-size: 3.202rem; }
  .FS74, .FontSize74 { font-size: 3.246rem; }
  .FS75, .FontSize75 { font-size: 3.289rem; }
  .FS76, .FontSize76 { font-size: 3.333rem; }
  .FS77, .FontSize77 { font-size: 3.377rem; }
  .FS78, .FontSize78 { font-size: 3.421rem; }
  .FS79, .FontSize79 { font-size: 3.465rem; }
  .FS80, .FontSize80 { font-size: 3.509rem; }
  .FS81, .FontSize81 { font-size: 3.553rem; }
  .FS82, .FontSize82 { font-size: 3.596rem; }
  .FS83, .FontSize83 { font-size: 3.64rem; }
  .FS84, .FontSize84 { font-size: 3.684rem; }
  .FS85, .FontSize85 { font-size: 3.728rem; }
  .FS86, .FontSize86 { font-size: 3.772rem; }
  .FS87, .FontSize87 { font-size: 3.816rem; }
  .FS88, .FontSize88 { font-size: 3.86rem; }
  .FS89, .FontSize89 { font-size: 3.904rem; }
  .FS90, .FontSize90 { font-size: 3.947rem; }
  .FS91, .FontSize91 { font-size: 3.991rem; }
  .FS92, .FontSize92 { font-size: 4.035rem; }
  .FS93, .FontSize93 { font-size: 4.079rem; }
  .FS94, .FontSize94 { font-size: 4.123rem; }
  .FS95, .FontSize95 { font-size: 4.167rem; }
  .FS96, .FontSize96 { font-size: 4.211rem; }
  .FS97, .FontSize97 { font-size: 4.254rem; }
  .FS98, .FontSize98 { font-size: 4.298rem; }
  .FS99, .FontSize99 { font-size: 4.342rem; }
  .FS100, .FontSize100 { font-size: 4.386rem; }
}
@media(min-width:768px) and (max-width:992px) {
  .FS0, .FontSize0 { font-size: 0rem; }
  .FS1, .FontSize1 { font-size: 0.056rem; }
  .FS2, .FontSize2 { font-size: 0.112rem; }
  .FS3, .FontSize3 { font-size: 0.168rem; }
  .FS4, .FontSize4 { font-size: 0.224rem; }
  .FS5, .FontSize5 { font-size: 0.28rem; }
  .FS6, .FontSize6 { font-size: 0.336rem; }
  .FS7, .FontSize7 { font-size: 0.392rem; }
  .FS8, .FontSize8 { font-size: 0.448rem; }
  .FS9, .FontSize9 { font-size: 0.504rem; }
  .FS10, .FontSize10 { font-size: 0.561rem; }
  .FS11, .FontSize11 { font-size: 0.617rem; }
  .FS12, .FontSize12 { font-size: 0.673rem; }
  .FS13, .FontSize13 { font-size: 0.729rem; }
  .FS14, .FontSize14 { font-size: 0.785rem; }
  .FS15, .FontSize15 { font-size: 0.841rem; }
  .FS16, .FontSize16 { font-size: 0.712rem; }
  .FS17, .FontSize17 { font-size: 0.756rem; }
  .FS18, .FontSize18 { font-size: 0.801rem; }
  .FS19, .FontSize19 { font-size: 0.845rem; }
  .FS20, .FontSize20 { font-size: 0.89rem; }
  .FS21, .FontSize21 { font-size: 0.934rem; }
  .FS22, .FontSize22 { font-size: 0.979rem; }
  .FS23, .FontSize23 { font-size: 1.023rem; }
  .FS24, .FontSize24 { font-size: 1.068rem; }
  .FS25, .FontSize25 { font-size: 1.112rem; }
  .FS26, .FontSize26 { font-size: 1.157rem; }
  .FS27, .FontSize27 { font-size: 1.201rem; }
  .FS28, .FontSize28 { font-size: 1.246rem; }
  .FS29, .FontSize29 { font-size: 1.29rem; }
  .FS30, .FontSize30 { font-size: 1.335rem; }
  .FS31, .FontSize31 { font-size: 1.379rem; }
  .FS32, .FontSize32 { font-size: 1.423rem; }
  .FS33, .FontSize33 { font-size: 1.468rem; }
  .FS34, .FontSize34 { font-size: 1.512rem; }
  .FS35, .FontSize35 { font-size: 1.557rem; }
  .FS36, .FontSize36 { font-size: 1.601rem; }
  .FS37, .FontSize37 { font-size: 1.646rem; }
  .FS38, .FontSize38 { font-size: 1.69rem; }
  .FS39, .FontSize39 { font-size: 1.735rem; }
  .FS40, .FontSize40 { font-size: 1.779rem; }
  .FS41, .FontSize41 { font-size: 1.824rem; }
  .FS42, .FontSize42 { font-size: 1.868rem; }
  .FS43, .FontSize43 { font-size: 1.913rem; }
  .FS44, .FontSize44 { font-size: 1.957rem; }
  .FS45, .FontSize45 { font-size: 2.002rem; }
  .FS46, .FontSize46 { font-size: 2.046rem; }
  .FS47, .FontSize47 { font-size: 2.091rem; }
  .FS48, .FontSize48 { font-size: 2.135rem; }
  .FS49, .FontSize49 { font-size: 2.18rem; }
  .FS50, .FontSize50 { font-size: 2.224rem; }
  .FS51, .FontSize51 { font-size: 2.269rem; }
  .FS52, .FontSize52 { font-size: 2.313rem; }
  .FS53, .FontSize53 { font-size: 2.358rem; }
  .FS54, .FontSize54 { font-size: 2.402rem; }
  .FS55, .FontSize55 { font-size: 2.447rem; }
  .FS56, .FontSize56 { font-size: 2.491rem; }
  .FS57, .FontSize57 { font-size: 2.536rem; }
  .FS58, .FontSize58 { font-size: 2.58rem; }
  .FS59, .FontSize59 { font-size: 2.625rem; }
  .FS60, .FontSize60 { font-size: 2.669rem; }
  .FS61, .FontSize61 { font-size: 2.714rem; }
  .FS62, .FontSize62 { font-size: 2.758rem; }
  .FS63, .FontSize63 { font-size: 2.802rem; }
  .FS64, .FontSize64 { font-size: 2.847rem; }
  .FS65, .FontSize65 { font-size: 2.891rem; }
  .FS66, .FontSize66 { font-size: 2.936rem; }
  .FS67, .FontSize67 { font-size: 2.98rem; }
  .FS68, .FontSize68 { font-size: 3.025rem; }
  .FS69, .FontSize69 { font-size: 3.069rem; }
  .FS70, .FontSize70 { font-size: 3.114rem; }
  .FS71, .FontSize71 { font-size: 3.158rem; }
  .FS72, .FontSize72 { font-size: 3.203rem; }
  .FS73, .FontSize73 { font-size: 3.247rem; }
  .FS74, .FontSize74 { font-size: 3.292rem; }
  .FS75, .FontSize75 { font-size: 3.336rem; }
  .FS76, .FontSize76 { font-size: 3.381rem; }
  .FS77, .FontSize77 { font-size: 3.425rem; }
  .FS78, .FontSize78 { font-size: 3.47rem; }
  .FS79, .FontSize79 { font-size: 3.514rem; }
  .FS80, .FontSize80 { font-size: 3.559rem; }
  .FS81, .FontSize81 { font-size: 3.603rem; }
  .FS82, .FontSize82 { font-size: 3.648rem; }
  .FS83, .FontSize83 { font-size: 3.692rem; }
  .FS84, .FontSize84 { font-size: 3.737rem; }
  .FS85, .FontSize85 { font-size: 3.781rem; }
  .FS86, .FontSize86 { font-size: 3.826rem; }
  .FS87, .FontSize87 { font-size: 3.87rem; }
  .FS88, .FontSize88 { font-size: 3.915rem; }
  .FS89, .FontSize89 { font-size: 3.959rem; }
  .FS90, .FontSize90 { font-size: 4.004rem; }
  .FS91, .FontSize91 { font-size: 4.048rem; }
  .FS92, .FontSize92 { font-size: 4.093rem; }
  .FS93, .FontSize93 { font-size: 4.137rem; }
  .FS94, .FontSize94 { font-size: 4.181rem; }
  .FS95, .FontSize95 { font-size: 4.226rem; }
  .FS96, .FontSize96 { font-size: 4.27rem; }
  .FS97, .FontSize97 { font-size: 4.315rem; }
  .FS98, .FontSize98 { font-size: 4.359rem; }
  .FS99, .FontSize99 { font-size: 4.404rem; }
  .FS100, .FontSize100 { font-size: 4.448rem; }
}
@media(max-width:576px) {
  .FSMB0 { font-size: 0rem; }
  .FSMB1 { font-size: 0.063rem; }
  .FSMB2 { font-size: 0.125rem; }
  .FSMB3 { font-size: 0.188rem; }
  .FSMB4 { font-size: 0.25rem; }
  .FSMB5 { font-size: 0.313rem; }
  .FSMB6 { font-size: 0.375rem; }
  .FSMB7 { font-size: 0.438rem; }
  .FSMB8 { font-size: 0.5rem; }
  .FSMB9 { font-size: 0.563rem; }
  .FSMB10 { font-size: 0.625rem; }
  .FSMB11 { font-size: 0.688rem; }
  .FSMB12 { font-size: 0.75rem; }
  .FSMB13 { font-size: 0.813rem; }
  .FSMB14 { font-size: 0.875rem; }
  .FSMB15 { font-size: 0.938rem; }
  .FSMB16 { font-size: 1rem; }
  .FSMB17 { font-size: 1.063rem; }
  .FSMB18 { font-size: 1.125rem; }
  .FSMB19 { font-size: 1.188rem; }
  .FSMB20 { font-size: 1.25rem; }
  .FSMB21 { font-size: 1.313rem; }
  .FSMB22 { font-size: 1.375rem; }
  .FSMB23 { font-size: 1.438rem; }
  .FSMB24 { font-size: 1.5rem; }
  .FSMB25 { font-size: 1.563rem; }
  .FSMB26 { font-size: 1.625rem; }
  .FSMB27 { font-size: 1.688rem; }
  .FSMB28 { font-size: 1.75rem; }
  .FSMB29 { font-size: 1.813rem; }
  .FSMB30 { font-size: 1.875rem; }
  .FSMB31 { font-size: 1.938rem; }
  .FSMB32 { font-size: 2rem; }
  .FSMB33 { font-size: 2.063rem; }
  .FSMB34 { font-size: 2.125rem; }
  .FSMB35 { font-size: 2.188rem; }
  .FSMB36 { font-size: 2.25rem; }
  .FSMB37 { font-size: 2.313rem; }
  .FSMB38 { font-size: 2.375rem; }
  .FSMB39 { font-size: 2.438rem; }
  .FSMB40 { font-size: 2.5rem; }
  .FSMB41 { font-size: 2.563rem; }
  .FSMB42 { font-size: 2.625rem; }
  .FSMB43 { font-size: 2.688rem; }
  .FSMB44 { font-size: 2.75rem; }
  .FSMB45 { font-size: 2.813rem; }
  .FSMB46 { font-size: 2.875rem; }
  .FSMB47 { font-size: 2.938rem; }
  .FSMB48 { font-size: 3rem; }
  .FSMB49 { font-size: 3.063rem; }
  .FSMB50 { font-size: 3.125rem; }
  .FSMB51 { font-size: 3.188rem; }
  .FSMB52 { font-size: 3.25rem; }
  .FSMB53 { font-size: 3.313rem; }
  .FSMB54 { font-size: 3.375rem; }
  .FSMB55 { font-size: 3.438rem; }
  .FSMB56 { font-size: 3.5rem; }
  .FSMB57 { font-size: 3.563rem; }
  .FSMB58 { font-size: 3.625rem; }
  .FSMB59 { font-size: 3.688rem; }
  .FSMB60 { font-size: 3.75rem; }
  .FSMB61 { font-size: 3.813rem; }
  .FSMB62 { font-size: 3.875rem; }
  .FSMB63 { font-size: 3.938rem; }
  .FSMB64 { font-size: 4rem; }
  .FSMB65 { font-size: 4.063rem; }
  .FSMB66 { font-size: 4.125rem; }
  .FSMB67 { font-size: 4.188rem; }
  .FSMB68 { font-size: 4.25rem; }
  .FSMB69 { font-size: 4.313rem; }
  .FSMB70 { font-size: 4.375rem; }
  .FSMB71 { font-size: 4.438rem; }
  .FSMB72 { font-size: 4.5rem; }
  .FSMB73 { font-size: 4.563rem; }
  .FSMB74 { font-size: 4.625rem; }
  .FSMB75 { font-size: 4.688rem; }
  .FSMB76 { font-size: 4.75rem; }
  .FSMB77 { font-size: 4.813rem; }
  .FSMB78 { font-size: 4.875rem; }
  .FSMB79 { font-size: 4.938rem; }
  .FSMB80 { font-size: 5rem; }
  .FSMB81 { font-size: 5.063rem; }
  .FSMB82 { font-size: 5.125rem; }
  .FSMB83 { font-size: 5.188rem; }
  .FSMB84 { font-size: 5.25rem; }
  .FSMB85 { font-size: 5.313rem; }
  .FSMB86 { font-size: 5.375rem; }
  .FSMB87 { font-size: 5.438rem; }
  .FSMB88 { font-size: 5.5rem; }
  .FSMB89 { font-size: 5.563rem; }
  .FSMB90 { font-size: 5.625rem; }
  .FSMB91 { font-size: 5.688rem; }
  .FSMB92 { font-size: 5.75rem; }
  .FSMB93 { font-size: 5.813rem; }
  .FSMB94 { font-size: 5.875rem; }
  .FSMB95 { font-size: 5.938rem; }
  .FSMB96 { font-size: 6rem; }
  .FSMB97 { font-size: 6.063rem; }
  .FSMB98 { font-size: 6.125rem; }
  .FSMB99 { font-size: 6.188rem; }
  .FSMB100 { font-size: 6.25rem; }
}