<div Lines AutonomousCritical text-uppercase>
 <div Rect FirstLine Line z-index="11">
  <span FirstFrame FirstFrameAnimation Frame>
   <span>
    КИБЕР-КЛИНИНГ СО СКИДКОЙ 15%
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    КИБЕР-КЛИНИНГ СО СКИДКОЙ 15%
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    КИБЕР-КЛИНИНГ СО СКИДКОЙ 15%
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    КИБЕР-КЛИНИНГ СО СКИДКОЙ 15%
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    КИБЕР-КЛИНИНГ СО СКИДКОЙ 15%
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    КИБЕР-КЛИНИНГ СО СКИДКОЙ 15%
   </span>
   <span Slash>
    /
   </span>
  </span>
 </div>


 <div Rect2 SecondLine Line>
  <span FirstFrame2Animation Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span><span Frame>
   <span>
    Эксклюзив
   </span>
   <span Slash>
    /
   </span>
  </span>
 </div>
</div>


<!-- <script src="js/lines.js" combine /> -->
