<stylesheet href="../../stylesheets/CTC.css" />

<container mt-1 mt-md-5 mt-lg-0 MaxContainer CtcCo>
 <row position-relative>
  <column col-2 col-md-3 col-lg-4>
  </column>
  <column col-8 col-md-6 col-lg-4 d-flex position-relative z-index="10" position-relative>
   <img src="./img/ctc.svg" CTCImg w-100 alt="group" img-fluid z-index="11"
   position-relative />
   <div CTC_Radial position-absolute>
   </div>
  </column>
 </row>
</container>

<container d-flex justify-content-center>
 <div L13 width="1px" border-left="1px solid #96e0e8"></div>
</container>

<container>
 <row position-relative>
  <column col-4 col-md-4 col-lg-5>
  </column>
  <column Col13 ml-lg-0 col-4 col-md-3 col-lg-2 d-flex position-relative z-index="10" position-relative
  Autonomous>
  <img src="./13.svg" w-100 alt="group" img-fluid z-index="11" position-relative
  />
  <div position-absolute top="-2px" left="0" w-100 h-100 d-flex align-items-center
  justify-content-center FS49 FSMB30 color="#96e0e8">
   13
  </div>
  </column>
 </row>

 <row padding-top="1rem">
  <column col-2 col-lg-4>
  </column>
  <column col-8 col-lg-4 FS18 FSMB14 text-center color="#A3F3FB" mt-2 mt-md-4>
   <p mb-0 FooterActCopy>
    активируется кнопкой «13» <br />
    на телевизионном пульте
   </p>
  </column>
 </row>
</container>