<stylesheet href="../../stylesheets/ICame.css" />

<container position-relative mb-md-5 ICame z-index="10">
 <row z-index="10" position-relative ICameRow>
  <column col-2 col-md-3>
  </column>

  <column col-8 col-md-6 position-relative>
   <div w-100 z-index="20" position-relative z-index="10">
    <h2 m-0 FS18 px-2 text-uppercase ICameTitle>
     <span d-inline-block pl-1 pl-md-4 AutonomousCritical
     FS18 FSMB10 letter-spacing="-0.01rem">
      //кибер-иван
     </span>
    </h2>
   </div>

   <p FS35 text-center py-3 AutonomousCritical position-relative text-uppercase
   z-index="10" text-white mt-1 mt-md-2 ICameCopy FSMB18>
    «Я пришёл <br/>убрать ваша квартира»
   </p>

   <img Message src="./img/message.svg" position-absolute z-index="9" />
  </column>

  <column col-1 col-md-3>
  </column>
 </row>
</container>