<div height="3rem" d-md-none>
</div>

<container-fluid position-relative CyberBubbleCo>
 <row mt-3 position-relative mb-3>
  <column col-9 col-md-0>
  </column>
  <column position-relative col-3 col-md-12 z-index="12">
   <img src="./bubble9.png" Bubble10 resize-to="256" x1 x2 x3 img-fluid alt="" />
  </column>
 </row>
</container-fluid>

<div height="2rem" d-md-none>
</div>

<container position-relative Cyber pb-5 min-height="350px" MaxContainer>
 <row px-4 z-index="94">
  <column col-0 col-md-1 col-lg-3>
  </column>
  <column col-6 col-md-5 col-lg-3 d-flex flex-column mb-3 position-relative z-index="10">
   <div position-absolute text-uppercase FS24 FSMB12 px-1 Autonomous CyberEmployee>
    СОТРУДНИК МЕСЯЦА
    <div CyberLine position-absolute></div>

    <div CyberDot position-absolute></div>
   </div>
   <img src="./cyber_ivan.png" padding-left="3px" padding-right="1px" img-fluid
   alt="сотрудник месяца" z-index="0" webp="photo" CyberPng />
  </column>

  <column col-6 col-lg-4 position-relative z-index="9" d-flex align-items-center>
   <div position-relative z-index="1" CyberContyrWr>
    <img src="./countyr2.png" img-fluid alt="cyber ione" z-index="0" webp
    transform="translate(-50px,-38px)" />

    <img src="./countyr.png" img-fluid alt="cyber ione" top="0" left="0"
    z-index="0" webp w-100 transform="translate(-50px,-38px)"
    position-absolute z-index="1" filter="drop-shadow(0px 0px 5px #16E4FF)"  />
   </div>

   <div z-index="0" CyberBackdrop></div>
  </column>
 </row>
</container>

<container transform="translateY(-7.5rem)" position-relative CyberIvanCo MaxContainer>
 <row CyberIvanRow>
  <column col-lg-1>
  </column>
  <column CyberCopyCol FS30 FSMB16 text-uppercase text-white text-center col-12
  col-lg-10 position-relative px-0>
   <div position-absolute w-100 CyberIvanBorder>
    <img resize-to="936" x1 x2 x-3 src="./border.png" img-fluid h-100 d-none d-md-inline />
    <img resize-to="339" x1 x2 x-3 src="./border-mob-1.png" img-fluid h-100 d-md-none />
   </div>

   <p Autonomous m-0 CyberIvanCopy line-height="1.35">
    Кибер-ИВАН ГОТОВ НЕ ТОЛЬКО УБРАТЬСЯ В ВАШЕМ ДОМЕ, НО И ПОСЕЛИТЬСЯ
    В&nbsp;НёМ&nbsp;С&nbsp;<span color="#6ED5F1">28 АВГУСТА</span>
   </p>
  </column>
  <column col-1>
  </column>
 </row>
</container>