<stylesheet href="../../stylesheets/Types.css" />
<stylesheet href="../../stylesheets/Types-1200.css" />

<!-- todo: [ ] can auto-read and auto-detect from the file name. -->
<!-- <stylesheet href="../../stylesheets/Types-min-576.css" min-width="576" /> -->
<!-- <stylesheet href="../../stylesheets/Types-max-576.css" max-width="576" /> -->
<!-- <stylesheet href="../../stylesheets/Types-min-768.css" min-width="768" /> -->
<!-- <stylesheet href="../../stylesheets/Types-min-992.css" min-width="992" /> -->
<!-- <stylesheet href="../../stylesheets/Types-min-1200.css" min-width="1200" /> -->

<div height="6px"></div>

<container mt-5 position-relative>
 <row>
  <column col-12 text-center>
   <h2 Autonomous TypesOfCleaning text-uppercase FS48 FSMB22 color="#a1f3fe">
    Типы кибер-уборки
   </h2>
  </column>
 </row>

 <div position-absolute pointer-events="none"
  border-radius="50%" EllipseSm d-md-none>
  </div>

 <div position-absolute left="0" w-100 pointer-events="none"
  border-radius="50%" EllipseLg d-none d-md-block>
 </div>
</container>

<div height="2px"></div>