<container position-relative text-lowercase FirstTypes MaxContainer>
 <row z-index="13" position-relative pr-0 pl-0>
  <column col-12 MobPadding>
   <img src="./img/border-1-mob.png" w-100 img-fluid d-md-none webp />
   <img src="./img/border-1-desk.png" w-100 img-fluid d-none d-md-inline-block webp />
  </column>

  <div position-absolute top="0" left="0" w-100 h-100 Medium d-flex flex-column>
   <h3 ..h3-service>
    генеральная уборка
   </h3>

   <div d-flex flex-column flex-md-row FS17 FSMB13 w-100 T2 TypesDiv flex-grow-1>
    <div TypesCo1 ..types-co>
     <div row ServiceRow Medium>
      <column col-8 p-0>
       уборка квартиры до 60 м²
      </column>
      <column col-4 text-right p-0>
       от 300₽/М²
      </column>
     </div>
     <div row ServiceRow>
      <column col-8 p-0>
       уборка квартиры от 60 м²
      </column>
      <column col-4 text-right p-0>
       250₽/М²
      </column>
     </div>
     <div row ServiceRow>
      <column col-8 p-0>
       генеральная уборка кухни
      </column>
      <column col-4 text-right p-0>
       5000₽
      </column>
     </div>
    </div>

    <div TypesCo2 ..types-co>

     <div row ServiceRow>
      <column col-8 p-0>
       Уборка дома до 150 м²
      </column>
      <column col-4 text-right p-0>
       195₽/М²
      </column>
     </div>
     <div row ServiceRow>
      <column col-8 p-0>
       Уборка дома от 150 м²
      </column>
      <column col-4 text-right p-0>
       ОТ 195₽/М²
      </column>
     </div>
     <div row ServiceRow>
      <column col-8 p-0>
       уборка санузла
      </column>
      <column col-4 text-right p-0>
       5000₽
      </column>
     </div>

     <!-- /container-fluid -->
    </div>
   </div>
  </div>

  <div position-absolute text-uppercase z-index="13" d-flex align-items-center
  justify-content-center justify-content-md-end width="calc(100% - 30px)"
  OrderWr x-order-bu tabindex="0">
   <span px-4 py-1 FSMB10 FS14 CBold Mt1px>
    <a href="#Заказать уборку" white-space="nowrap" OrderBu Link>Заказать уборку</a>
   </span>
   <img src="./img/order-button-wide.svg" OrderBuIm OrderBuImOrig alt=""
   position-absolute z-index="-1"/>
   <img src="./img/order-bu-hover.svg" OrderBuIm OrderBuImHover alt=""
   position-absolute z-index="-1"/>
   <img src="./img/order-bu-down.svg" OrderBuIm OrderBuImDown alt="" position-absolute z-index="-1"/>
  </div>
 </row>

</container>

<<types-co container-fluid TypesCo d-flex justify-content-around flex-column
pt-md-2 flex-grow-1 />>
<<h3-service Autonomous text-center text-md-left text-uppercase FS27 FSMB15
TypeHeading />>
