<div container d-md-flex mt-4 TypesMid d-none MaxContainer>
 <container position-relative Bg2 text-lowercase pl-0 TypeCo TypesCo1>
  <row mt-4 z-index="13" position-relative px-0>
   <column col-12 pr-0 Col1>
    <img src="./img/border-2-mob.png" w-100 img-fluid d-md-none webp alt="" />
    <img src="./img/border-2-desk.png" w-100 img-fluid d-none d-md-inline-block
    webp alt="" />
   </column>


   <div position-absolute top="0" left="0" w-100 h-100 Medium d-flex flex-column>
    <h3 ..h3-service FSMB15>
     поддерживающая уборка
    </h3>

    <div d-flex flex-column FS17 FSMB13 w-100 TypesDiv flex-grow-1>
     <div ..types-co>
      <div row ServiceRow>
       <column col-8 p-0>
        ОДНОКОМНАТНАЯ КВАРТИРА
       </column>
       <column col-4 text-right p-0>
        от 4600₽
       </column>
      </div>

      <div row ServiceRow>
       <column col-8 p-0>
        ДВУХКОМНАТНАЯ КВАРТИРА
       </column>
       <column col-4 text-right p-0>
        от 5600₽
       </column>
      </div>
      <div row ServiceRow>
       <column col-8 p-0>
        ТРЁХКОМНАТНАЯ КВАРТИРА
       </column>
       <column col-4 text-right p-0>
        от 6600₽
       </column>
      </div>
      <div row ServiceRow>
       <column col-8 p-0>
        ЭКСПРЕСС-УБОРКА
       </column>
       <column col-4 text-right p-0>
        от 3500₽
       </column>
      </div>
     </div>
    </div>
   </div>

   <div position-absolute text-uppercase z-index="13" d-flex align-items-center
   justify-content-center justify-content-md-end width="calc(100% - 30px)"
   bottom="-23px" OrderWr x-order-bu tabindex="0">
    <span px-4 py-1 FSMB10 FS14 CBold Mt1px>
     <a href="#Заказать уборку" white-space="nowrap" OrderBu Link>Заказать уборку</a>
    </span>
    <img src="./img/order-button-wide.svg" OrderBuIm OrderBuImOrig alt=""
     position-absolute z-index="-1"/>
    <img src="./img/order-bu-hover.svg" OrderBuIm OrderBuImHover alt=""
     position-absolute z-index="-1"/>
    <img src="./img/order-bu-down.svg" OrderBuIm OrderBuImDown alt="" position-absolute z-index="-1"/>
   </div>
  </row>
 </container>

 <container position-relative Bg2 text-lowercase pr-0>
  <row mt-4 z-index="13" position-relative px-0>
   <column col-12 pl-0 Col2>
    <img src="./img/border-3-mob.png" w-100 img-fluid d-md-none webp alt="" />
    <img src="./img/border-3-desk.png" w-100 img-fluid d-none d-md-inline-block
    webp alt="" />
   </column>

   <div position-absolute top="0" left="0" w-100 h-100 Medium d-flex flex-column>
    <h3 ..h3-service FSMB15>
     дополнительные услуги
    </h3>

    <div d-flex flex-column FS17 FSMB13 w-100 TypesDiv flex-grow-1>
     <div ..types-co>
      <div row ServiceRow>
       <column col-8 p-0>
        МОЙКА ОКОН
       </column>
       <column col-4 text-right p-0>
        700₽
       </column>
      </div>

      <div row ServiceRow>
       <column col-8 p-0>
        МОЙКА ОКОН ПОСЛЕ РЕМОНТА
       </column>
       <column col-4 text-right p-0>
        1200₽
       </column>
      </div>
      <div row ServiceRow>
       <column col-8 p-0>
        БАЛКОН ЗАСТЕКЛЁННЫЙ
       </column>
       <column col-4 text-right p-0>
        2000₽
       </column>
      </div>
      <div row ServiceRow>
       <column col-8 p-0>
        БАЛКОН ПАНОРАМНЫЙ
       </column>
       <column col-4 text-right p-0>
        ОТ 3500₽
       </column>
      </div>
     </div>
    </div>
   </div>

   <div position-absolute text-uppercase z-index="13" d-flex align-items-center
   justify-content-center justify-content-md-end width="calc(100% - 30px)"
   OrderWr x-order-bu tabindex="0">
    <span px-4 py-1 FSMB10 FS14 CBold Mt1px>
     <a href="#Заказать уборку" white-space="nowrap" OrderBu Link>Заказать уборку</a>
    </span>
    <img src="./img/order-button-wide.svg" OrderBuIm OrderBuImOrig alt=""
     position-absolute z-index="-1"/>
    <img src="./img/order-bu-hover.svg" OrderBuIm OrderBuImHover alt=""
     position-absolute z-index="-1"/>
    <img src="./img/order-bu-down.svg" OrderBuIm OrderBuImDown alt="" position-absolute z-index="-1"/>
   </div>
  </row>
 </container>
</div>

<<h3-service Autonomous text-center text-uppercase FS20 TypeHeading />>
<<types-co container-fluid TypesCo d-flex justify-content-around flex-column
pt-md-2 flex-grow-1 />>