<div height="20px" d-md-none></div>

<container position-relative text-lowercase LastTypes d-md-none mt-4>
 <row z-index="13" position-relative px-0>
  <column col-12 MobPadding>
   <img src="./img/border-2-mob.png" w-100 img-fluid d-md-none webp alt="" />
   <img src="./img/border-2-desk.png" w-100 img-fluid d-none d-md-inline-block
   webp alt="" />
  </column>

  <div position-absolute top="0" left="0" w-100 h-100 Medium d-flex flex-column>
   <h3 SupportTitle ..h3-service>
    поддерживающая уборка
   </h3>

   <div d-flex flex-column flex-md-row FS17 FSMB13 w-100 T2 TypesDiv flex-grow-1>
    <div SupportCo ..types-co>
     <div row ServiceRow>
      <column col-8 p-0>
       ОДНОКОМНАТНАЯ КВАРТИРА
      </column>
      <column col-4 text-right p-0>
       от 4600₽
      </column>
     </div>

     <div row ServiceRow>
      <column col-8 p-0>
       ДВУХКОМНАТНАЯ КВАРТИРА
      </column>
      <column col-4 text-right p-0>
       от 5600₽
      </column>
     </div>
     <div row ServiceRow>
      <column col-8 p-0>
       ТРЁХКОМНАТНАЯ КВАРТИРА
      </column>
      <column col-4 text-right p-0>
       от 6600₽
      </column>
     </div>
     <div row ServiceRow>
      <column col-8 p-0>
       ЭКСПРЕСС-УБОРКА
      </column>
      <column col-4 text-right p-0>
       от 3500₽
      </column>
     </div>
    </div>
     <!-- /container-fluid -->
   </div>
  </div>

  <div position-absolute text-uppercase z-index="13" d-flex align-items-center
  justify-content-center justify-content-md-end width="calc(100% - 30px)"
  bottom="-5px" OrderWr x-order-bu tabindex="0">
   <span px-4 py-1 FSMB10 FS14 CBold Mt1px>
    <a href="#Заказать уборку" white-space="nowrap" OrderBu Link>Заказать уборку</a>
   </span>
   <img src="./img/order-button-wide.svg" OrderBuIm OrderBuImOrig alt=""
   position-absolute z-index="-1"/>
   <img src="./img/order-bu-hover.svg" OrderBuIm OrderBuImHover alt=""
   position-absolute z-index="-1"/>
   <img src="./img/order-bu-down.svg" OrderBuIm OrderBuImDown alt="" position-absolute z-index="-1"/>
  </div>
 </row>
</container>

<div height="20px" d-md-none></div>

<!-- TWO -->

<container position-relative text-lowercase LastTypes d-md-none mt-4>
 <row z-index="13" position-relative px-0>
  <column col-12 MobPadding>
   <img src="./img/border-3-mob.png" w-100 img-fluid d-md-none webp alt="" />
   <img src="./img/border-3-desk.png" w-100 img-fluid d-none d-md-inline-block
   webp alt="" />
  </column>

  <div position-absolute top="0" left="0" w-100 h-100 Medium d-flex flex-column>
   <h3 ExtraTitle ..h3-service>
    дополнительные услуги
   </h3>

   <div d-flex flex-column flex-md-row FS17 FSMB13 w-100 T2 TypesDiv flex-grow-1>
    <div ExtraCo ..types-co>
     <div row ServiceRow>
       <column col-8 p-0>
        МОЙКА ОКОН
       </column>
       <column col-4 text-right p-0>
        700₽
       </column>
      </div>

      <div row ServiceRow>
       <column col-8 p-0>
        МОЙКА ОКОН ПОСЛЕ РЕМОНТА
       </column>
       <column col-4 text-right p-0>
        1200₽
       </column>
      </div>
      <div row ServiceRow>
       <column col-8 p-0>
        БАЛКОН ЗАСТЕКЛЁННЫЙ
       </column>
       <column col-4 text-right p-0>
        2000₽
       </column>
      </div>
      <div row ServiceRow>
       <column col-8 p-0>
        БАЛКОН ПАНОРАМНЫЙ
       </column>
       <column col-4 text-right p-0>
        ОТ 3500₽
       </column>
      </div>
    </div>
     <!-- /container-fluid -->
   </div>
  </div>

  <div position-absolute text-uppercase z-index="13" d-flex align-items-center
  justify-content-center justify-content-md-end width="calc(100% - 30px)"
  bottom="-5px" OrderWr x-order-bu tabindex="0">
   <span px-4 py-1 FSMB10 FS14 CBold Mt1px>
    <a href="#Заказать уборку" white-space="nowrap" OrderBu Link>Заказать уборку</a>
   </span>
   <img src="./img/order-button-wide.svg" OrderBuIm OrderBuImOrig alt=""
   position-absolute z-index="-1"/>
   <img src="./img/order-bu-hover.svg" OrderBuIm OrderBuImHover alt=""
   position-absolute z-index="-1"/>
   <img src="./img/order-bu-down.svg" OrderBuIm OrderBuImDown alt=""
   position-absolute z-index="-1"/>
  </div>
 </row>
</container>


<<types-co container-fluid TypesCo d-flex justify-content-around flex-column
pt-md-2 flex-grow-1 />>
<<h3-service Autonomous text-center text-md-left text-uppercase FS27 FSMB14
TypeHeading />>
