<div height="18px" d-md-none></div>

<container position-relative text-lowercase LastTypes mt-4 MaxContainer>
 <row z-index="13" position-relative pr-0 pl-0>
  <column col-12 MobPadding>
   <img src="./img/border-4-mob.png" w-100 img-fluid d-md-none webp alt="" />
   <img src="./img/border-4-desk.png" w-100 img-fluid d-none d-md-inline-block
   webp alt="" />
  </column>

  <div position-absolute top="0" left="0" w-100 h-100 Medium d-flex flex-column>
   <h3 CyberTitle ..h3-service>
    Кибер-химчистка
   </h3>

   <div d-flex flex-column flex-md-row FS17 FSMB13 w-100 T2 TypesDiv flex-grow-1>
    <div TypesCo1 ..types-co>
     <div row ServiceRow Medium>
      <column col-8 p-0>
       кресло обычное
      </column>
      <column col-4 text-right p-0>
       2500₽
      </column>
     </div>
     <div row ServiceRow>
      <column col-8 p-0>
       кресло раскладывающееся
      </column>
      <column col-4 text-right p-0>
       5000₽
      </column>
     </div>
     <div row ServiceRow>
      <column col-8 p-0>
       диван угловой
      </column>
      <column col-4 text-right p-0>
       6500₽
      </column>
     </div>
     <div row ServiceRow>
      <column col-8 p-0>
       матрас
      </column>
      <column col-4 text-right p-0>
       3500—5000₽
      </column>
     </div>
     <div row ServiceRow>
      <column col-8 p-0>
       стулья кожаные
      </column>
      <column col-4 text-right p-0>
       500₽/шт
      </column>
     </div>
    </div>

    <div TypesCo2 ..types-co>
     <div row ServiceRow>
      <column col-8 p-0>
       диван кухонный
      </column>
      <column col-4 text-right p-0>
       195₽/М²
      </column>
     </div>
     <div row ServiceRow>
      <column col-8 p-0>
       Уборка дома от 150 м²
      </column>
      <column col-4 text-right p-0>
       3500—5000₽
      </column>
     </div>

     <div row ServiceRow>
      <column col-8 p-0>
       ковёр
      </column>
      <column col-4 text-right p-0>
       от 2500₽
      </column>
     </div>

     <div row ServiceRow>
      <column col-8 p-0>
       детский матрас
      </column>
      <column col-4 text-right p-0>
       от 3000₽
      </column>
     </div>

     <div row ServiceRow>
      <column col-8 p-0>
       диван кожаный
      </column>
      <column col-4 text-right p-0>
       от 6000₽
      </column>
     </div>

     <!-- /container-fluid -->
    </div>
   </div>
  </div>

  <div position-absolute text-uppercase z-index="13" d-flex align-items-center
  justify-content-center justify-content-md-end width="calc(100% - 30px)"
  OrderWr x-order-bu tabindex="0">
   <span px-4 py-1 FSMB10 FS14 CBold Mt1px>
    <a href="#Заказать уборку" onclick="" white-space="nowrap" OrderBu Link>Заказать уборку</a>
   </span>
   <img src="./img/order-button-wide.svg" OrderBuIm OrderBuImOrig alt=""
   position-absolute z-index="-1"/>
   <img src="./img/order-bu-hover.svg" OrderBuIm OrderBuImHover alt=""
   position-absolute z-index="-1"/>
   <img src="./img/order-bu-down.svg" OrderBuIm OrderBuImDown alt="" position-absolute z-index="-1"/>
  </div>

 </row>

 <row>
  <column d-flex justify-content-end position-relative col-3 col-md-2>
   <img src="./img/bubble6.png" pointer-events="none" alt="bubble" Bubble6
   position-absolute z-index="11" img-fluid />
  </column>
 </row>
</container>


<<types-co container-fluid TypesCo d-flex justify-content-around flex-column
pt-md-2 flex-grow-1 />>
<<h3-service Autonomous text-center text-md-left text-uppercase FS27 FSMB15
TypeHeading />>
