.BulletMob {
 margin-bottom: -2px;
 margin-top: 0px;
 transform:none;
 font-size: 1.1rem;
}
.BulletMobTop, .BulletMobBot {
 /* margin-left: 8px; */
 /* font-size: 10px; */
}
.BulletMobTop {
 transform:translateY(6px);
 margin-top: -12px;
}
.BulletMobBot {
 transform:translateY(-5px);
 margin-bottom: -13px;
}
@media(max-width:576px) {
 .Bullet2 {
  transform:translate(10px);
 }
}
@media(min-width:576px) {
 .StepsDesk .One {
  padding-left:3.7rem
 }
 .StepsDesk .Three {
  padding-right:1.3rem
 }
 .StepsDesk .ThreeIcon {
  transform:translate(57px,0);
 }
}
@media(min-width:768px) {
 .StepsDesk .One {
  padding-left:3.7rem
 }
 .StepsDesk .Three {
  padding-right:1.3rem
 }
 .StepsDesk .ThreeIcon {
  transform:translate(38px,0);
 }
}
@media(min-width:992px) {
 .StepsDesk .One {
  padding-left:3.5rem
 }
 .StepsDesk .Three {
  padding-right:1rem
 }
 .StepsDesk .ThreeIcon {
  transform:translate(52px,0);
 }
 .StepsDesk .ThreeCopy {
  padding-right:15px !important;
 }
}
.SoapDesk {
 transform:translate(-42px,0);
}
@media(min-width:1200px) {
 .StepsDesk .One {
  padding-left:3.3rem
 }
 .StepsDesk .Three {
  padding-right:0.7rem
 }
 .StepsDesk .ThreeIcon {
  transform:translate(57px,0);
 }
 .StepsDesk .ThreeCopy {
  padding-right:10px !important;
 }
 .SoapDesk {
  transform: translate(-35px,0);
  scale: 1.06;
 }
 .CheckDesk {
  transform: translate(4px,4px);
  scale: 1.09;
 }
 .PresentDesk {
  transform: translate(0px,-3px);
  scale: 1.06;
 }
}
.Pipe {
 font-weight: 100;
 line-height: 4rem;
 font-size: 2rem;
 color: transparent;
 border-right: 1px solid #a3f3fb;
 margin-right: 50%;
}
.PipeMob {
 line-height:calc(1.7rem - 1px);
}
.PipeMob2 {
 line-height:calc(2.2rem);
}
.Bubble_Steps_Mob {
 right: -290px;
 top: -40px;
 transform:scale(1.18);
}
@media(min-width:576px) and (max-width:768px) {
 .Bubble_Steps_Mob {
  right: -410px;
 }
 .Bullet2 {
  left: 45%;
 }
}
@media(min-width:576px) {
 .LeftCircle,.RightCircle,.MidCircle {
  border-radius: 50%;
  border: 1px solid #A3F3FB;
  width: 13px;
  height: 13px;
  top: -5px;
 }
 .MidCircle {
  border: 1px solid #A3F3FB;
  background:#A3F3FB;
  left: calc(50% - 3px);
 }
 .LeftCircle {
  left: -3px;
 }
 .RightCircle {
  right: -3px;
 }
 .MidCircle {
  right: -3px;
 }
}
@media(min-width:1200px) {
 .StepsDesk {
  padding-top:4rem;
  padding-left: 5.2rem;
  padding-right: 5.5rem;
 }
 .StepsDesk h4 {
  padding-bottom: 1.6rem;
 }
 .NumRow {
  padding-top: 0.6rem;
 }
}