.About .Border {
 width:calc(100% - 3px);
}
.AboutCol {
 padding: 45px;
 padding-top: 34px;
 padding-bottom: 36px;
}
.BorderWr{
 left:15px;
}
.AboutBottom {
 transform:translateY(-14px);
}
.AboutCopy{
 padding-top:.3rem;
}
@media(min-width:576px) and (max-width:768px) {
 .About h5 {
  transform: translateY(-43px);
 }
}
@media(min-width:576px) {
 .AboutCopy{
  padding-top:2rem;
 }
 .AboutCopy2{
  padding-left:3rem;
  padding-right:3rem;
 }
 .AboutBottom {
  transform:translateY(22px);
 }
 .About .Border {
  width:calc(100% + 27px);
 }
 .AboutCol {
  padding:60px;
 }
 .BorderWr{
  left:0;
 }
 .About {
  margin-top:7rem !important;
 }
}
@media(min-width:768px) {
 .About .Border {
  width:calc(100% + 85px);
 }
}
.About h4 {
 letter-spacing:-0.035rem;
}
@media(min-width:992px) and (max-width:1200px) {
 .AboutBottom h5 {
  transform: translateY(8px);
 }
}
@media(min-width:1200px) {
 .About {
  margin-top:9.5rem !important;
  padding-left: 47px;
  padding-right: 43px;
 }
 .About2 h4 {
  letter-spacing:-0.09rem;
 }
 .AboutCopy{
  padding-top:2.3rem;
 }
 .AboutIconsWr {
  padding-top: 3.7rem!important;
 }
 .AboutImg {
  padding-right: 5px;
  padding-bottom: 4px;
 }
}
@media(max-width:576px) {
 .AboutIcons {
  scale:1.15;
 }
}
@media(min-width:768px) {
 .AboutBottom {
  transform:translateY(14px);
 }
}
@media(min-width:768px) and (max-width:992px) {
 .AboutImg {
  transform:translate(18px,20px);
 }
 .AboutBottom {
  padding-left:26px;
 }
}
@media(min-width:992px) {
 .AboutBottom {
  transform:translateY(19px);
 }
}
@media(min-width:1200px) {
 .AboutBottom {
  transform:translateY(32px);
 }
}

.Bubble4_Desk {
 transform:translate(4px, -41px) scale(1.2);
}

.Bubble4_Mob {
 transform: translate(-74px, -37px);
 padding-left: 15px;
}
@media(max-width:576px) {
 .ShapeLeft {
  width: 40%;
  shape-outside: polygon(0 0, 25% 0, 0 50%, 0 50%, 25% 100%, 0 100%);
 }
 .ShapeRight {
  width: 40%;
  shape-outside: polygon(100% 50%, 75% 0, 100% 0, 100% 50%, 100% 100%, 75% 100%);
 }
}

.About {
 margin-top:3rem;
}
@media(max-width:576px) {
 .About {
  margin-top:calc(3rem - 7px);
 }
}