@media(min-width:768px) and (max-width:992px) {
 .Col13  {
  margin-left:2rem !important;
 }
}
@media(max-width:576px) {
 .CTCImg {
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
 }
 .Col13 {
  padding-left: 14px;
  padding-right: 14px;
 }
}

.CTC_Radial {
 z-index: 10;
 position: absolute;
 transform: scale(1.2);
 background: radial-gradient(#ffcb05 15%, transparent 57%);
 height: 179%;
 /* left: -10%; */
 width: 100%;
 left:0;
 top:-50px;
 filter: blur(20px);
}


.BottomCont {
 z-index: 100;
 position: relative;
 background:#E8F3F8;
 padding-top:2.5rem;
 padding-left:2rem;
}

@media(max-width:768px) {
 .FooterCo .PadLeft {
  margin-top:1rem;
  padding-left:calc(5.8rem - 3px);
 }
}
.SmotriWr {
 padding-left:calc(1rem - 1px);
}
.OfferWr {
 padding-top:10px;
}
.L13 {
 height:56px;
}
/* footer / media */
@media(min-width:768px) {
 .L13 {
  height:92px;
 }
 .CTC_Radial {
  top:-85px;
 }
}
@media(min-width:1200px) {
 .L13 {
  height:92px;
 }
}
.FooterActCopy {
 line-height: 1.5;
}
@media(min-width:1200px) {
 .FooterActCopy {
  line-height: 1.4;
 }
 .CtcCo {
  padding-left: 6.5rem;
  padding-right: 6.5rem;
 }
 .Footer1Co {
  padding-left: 1.9rem;
  padding-right: 2rem;
  padding-top: 1.2rem;
 }
 .Footer2Co {
  padding-left: 1.9rem;
  padding-top: 6px;
 }
 .FooterPolicy {
  padding-left: 9.7rem  !important;
  margin-top: -12px;
 }
 .FooterMid {
  padding-left: 4.8rem !important;
 }
}
