.CyberEmployee {
 top:-110px;
 right:-93px;
 white-space: nowrap;
 background:#a2f3fb;
}
@media(max-width:576px) {
 .CyberIvanBorder {
  /* width:calc(100% - 30px) !important; */
  height:200px;
 }
}
.CyberBackdrop {
 background:#16E4FF;
 border-radius:50%;
 position:absolute;
}
.Bubble10 {
 position: absolute;
 z-index: 0;
 top: -50px;
 right: -42px;
}
@media(min-width:576px) {
 .CyberCopyCol {
  padding-top: 5rem;
  padding-bottom: 5rem;
 }
 .CyberBackdrop {
  width:246px;
  height:246px;
  left:-120px;
  filter:blur(110px);
 }
 .CyberBubbleCo {
  height:256px;
 }
}
@media(max-width:576px) {
 .CyberIvanBorder {
  padding-left:  17px;
  padding-right: 17px;
 }
 .CyberCopyCol {
  padding-top: 1.3rem;
 }
 .CyberContyrWr {
  transform:scale(1.38) translate(35px,18px);
 }
 .CyberIvanCopy {
  padding-top:2.8rem;
  padding-left:1.2rem;
  padding-right:1.2rem;
 }
 .CyberBackdrop {
  width:121px;
  height:121px;
  left:-50px;
  filter:blur(63px);
  top:121px;
 }
 .CyberEmployee {
  top: -60px;
  right: -31px;
  padding-top: 2px;
  padding-bottom: 2px;
 }
 .CyberBubbleCo {
  height:46px;
 }
 .Bubble10 {
  right: -22px;
 }
}
.CyberIvanBorder {
 pointer-events: none;
}
@media(min-width:768px) and (max-width:992px) {
 .CyberEmployee {
  right:-35px;
 }
}
@media(min-width:992px) and (max-width:1200px) {
 .CyberEmployee {
  right:-105px;
 }
}
@media(min-width:768px) {
 .CyberIvanCopy {
  transform:translate(0,35px);
 }
 .CyberIvanRow {
  transform: translateY(-23px);
 }
 .CyberIvanBorder {
  top:55px;
  /* height:110%; */
 }
}
@media(min-width:576px) and (max-width:768px) {
 .CyberIvanBorder {
  top:-22px;
  height:134%;
 }
}
@media(min-width:768px) and (max-width:992px) {
 .CyberIvanCopy {
  transform: translate(0,50px);
  padding-left: 2rem;
  padding-right: 2rem;
 }
 .CyberEmployee {
  top: -83px;
 }
}
@media(min-width:992px) {
 .CyberIvanCopy {
  transform:translate(0,0);
 }
 .CyberIvanRow {
  transform: translateY(-23px);
 }
 .CyberIvanBorder {
  top:42px;
  height:94%;
 }
}
.CyberLine {
 height: 22px;
 border-left: 1px solid #a2f3fb;
 width: 1px;
 left: 50%;
}
.CyberDot {
 height: 6.5px;
 width: 6.5px;
 background: #a2f3fb;
 border-radius: 50%;
 bottom: -26px;
 left: calc(50% - 3px);
}
@media(min-width:992px) {
 .CyberContyrWr {
  scale: 1.08;
  transform: translate(7px, -2px);
 }
 .CyberLine {
  height: 48px;
 }
 .CyberDot {
  height: 13px;
  width: 13px;
  bottom: -54px;
  left: calc(50% - 6px);
 }
 .CyberIvanCopy {
  transform:translate(0,-35px);
 }
 .CyberIvanCo {
  margin-bottom:-2.2rem;
 }
 .CyberIvanBorder {
  top: 43px;
  height:335px;
  /* // 107.5%; */
 }
 .Cyber {
  margin-top:-6px;
 }
 .Bubble10 {
  top: -26px;
  right: -78px;
 }
 /* .CyberIvanBorder {
  height:385px;
 } */
 .CyberIvanCopy {
  padding-top:3.1rem;
  padding-left: 4.3rem;
  padding-right: 4.3rem;
 }
 .CyberEmployee {
  top: -120px;
  right: -45%;

  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 0 6px 0px #a2f3fb;
  padding-left: 10px !important;
  padding-right: 10px !important;
 }
}
@media(min-width:992px) and (max-width:1200px) {
 .CyberEmployee {
  transform:scale(0.9);
 }
}
@media(min-width:1200px) {
 .CyberEmployee {
  right: -30%;
 }
 .CyberPng {
  scale: 0.98;
  transform-origin: top left;
 }
 .CyberIvanBorder {
  height:389px;
  top: 25px;
 }
 .CyberIvanCopy {
  padding-top:5rem;
 }
}
@media(min-width:1400px) {
 .CyberEmployee {
  right: -74px;
 }
 .CyberIvanBorder {
  top: 24px;
  height: 388px;
 }
}
@media(max-width:992px) {
 .Bubble10 {
  transform: scale(0.75)
 }
}
@media(max-width:576px) {
 .Bubble10 {
  transform: scale(0.9) translate(2px,17px);
 }
 .CyberImg {
 }
}