.IdealLogo {
 width:100px;
 padding-left:5px;
}
.Cross {
 height:16px;
}
.CTC {
 width:50px;
}
.TopLogo {
 margin-top: 1rem;
}
@media(max-width:576px) {
 .TopLogo{
  transform: scale(0.9);
 }
}
@media(min-width:576px) {
 .IdealLogo {
  width:150px;
 }
 .Cross {
  height:21px;
 }
 .CTC {
  width:75px;
 }
 .TopLogo {
  margin-top: 1.5rem;
 }
}
.HeaderPad {
 margin-right:-15px;
}
@media(min-width:992px) and (max-width:1200px) {
 .HeaderPad {
  margin-right:-45px;
 }
}
.TopCopy {
 margin-bottom: 0.95rem;
}
@media(min-width:1200px) {
 .IdealLogo {
  width:237px;
 }
 .Cross {
  height:37px;
 }
 .CTC {
  width:134px;
 }
 .TopLogo {
  margin-top: 4rem;
 }
 .TopCopy {
  margin-bottom: 4.6rem;
 }
 .HeaderPad {
  margin-right:-5.25rem;
 }
}
.Header .Logo {
 transform:translate(-13px,-9px);
}
.Header h1 {
 font-size: 2rem;
}
@media(max-width:576px) {
 .Header h4 {
  font-size: .707rem;
 }
}
.Header h4 {
 margin-bottom:2px;
}
.Header h1 {
 margin-top:4px;
}

@media(min-width:576px) {
 .Header .Logo {
  transform:translate(-17px,0);
 }
 .Header h1 {
  font-size: 2.9rem;
  margin-top:2px;
 }
 .Header h4 {
  font-size: 0.95rem;
  margin-bottom:10px;
 }
}
@media(min-width:768px) {
 .Header h1 {
  font-size: 4.2rem;
 }
 .Header h4 {
  font-size: 1.1rem;
 }
}
@media(min-width:992px) {
 .Header h1 {
  font-size: 5.05rem;
  margin-top:2px;
 }
 .Header h4 {
  font-size: 1.35rem;
 }
}
@media(min-width:1200px) {
 .Header h1 {
  font-size: 7.05rem;
  margin-top:2px;
  padding-left:2px;
 }
 .Header h4 {
  font-size: 1.87rem;
 }
}

@media(min-width:1500px) {
 .Header h1 {
  font-size: 7.55rem;
 }
 .Header h4 {
  font-size: 2rem;
 }
}
@media(min-width:2000px) {
 .Header h1 {
  font-size: 8.55rem;
 }
 .Header h4 {
  font-size: 2.27rem;
 }
}
@media(min-width:2500px) {
 .Header h1 {
  font-size: 10.05rem;
 }
 .Header h4 {
  font-size: 2.65rem;
 }
}