.ICame {
 /* background: #162934; */
 /* border: 1px solid #a3f3fb; */
 /* color: white; */
 /* border-bottom:0; */
 padding:0;
 padding-left:0px !important;
 padding-right:0px !important;
}
/* MOBILE */
@media(max-width:576px){
 .ICameTitle {
  transform:translateY(7px);
 }
 .ICameTitle > span {
  transform: translateX(-2px) !important;
 }
 .ICameCopy {
  /* font-size: 1.25rem !important; */
 }
}

@media(min-width:576px){
 .ICameTitle > span {
  transform: translate(5px,13px) !important;
 }
 .ICameCopy {
  font-size: 1.25rem !important;
  margin-top: 1.6rem !important;
 }
}
@media(min-width:768px){
 .ICameTitle > span {
  transform: translate(-5px,11px) !important;
 }
 .ICameCopy {
  margin-top: 2.1rem !important;
 }
}
@media(min-width:992px){
 .ICameTitle > span {
  transform: translateY(14.5px) !important;
 }
 .ICameCopy {
  font-size: 1.65rem !important;
  transform: translateY(3.5px) !important;
  margin-top: 2.73rem !important;
 }
}
@media(min-width:1200px){
 .ICameTitle > span {
  transform: translate(37px,16px) !important;
 }
 .ICameCopy {
  font-size: 2rem !important;
  transform: translateY(0px) !important;
  margin-top: 3.4rem !important;
 }
}
.Message {
 margin-left:-5px;
 width: calc(100% + 10px);
 left:0;
 top:0;
}
@media(min-width:1200px) {
 .Message {
  margin-left: 19px;
  width: calc(100% - 39px);
 }
}
@media(max-width:576px){
 .ICameCopy {
  line-height:1.4rem;
  transform: translateY(9px);
  margin-bottom: 21px;
 }
}
.ICame {
 margin-top: calc(3rem + 7px);
}
@media(min-width:768px) {
 .ICameRow {
  padding-top: 3rem;
 }
 .ICameCopy {
  line-height: 1.2;
 }
}