.TopCont {
 background:#f1f8fb;
}
.Box {
 width: 80px;
 height: 80px;
 padding-left: 7px;
 padding-right: 7px;
 background: #FFCB05;
 border-radius: 10px;
}
.TopRow{
 height:100%;
}
@media(min-width:768px) {
 .BottomCont {
  padding-top:3.7rem;
 }
}
.RowTopRow {
 height: 100%;
}
.Eclipse2 {
 pointer-events: none;
 right: 0;
 top: -41rem;
 /* left: -60%; */
 z-index: 9;
 left: -70%;
}
.Bubble2{
 top: 49.8%;
 width: 135px;
 z-index: -10;
}
.Bubble3{
 z-index: 100;
 right: -9px;
 height: 100px;
 top: -200px;
}
.Bubble3_Desk{
 filter:brightness(0.75);
 z-index: 100;
 right: 217px;
 height: 100px;
 top: -200px;
}
.Bubble4 {
 /* z-index: 100;
 left: 0px;
 height: 131px;
 top: -27px; */
 z-index: 100;
 left: 0px;
 height: 110px;
 top: -20px;
}
.Bullet {
 /* margin-bottom: -2px;
 font-size: small;
 margin-left: 13px;
 scale: 1.3;
 margin-top: 2px; */
 /* margin-bottom: -2px; */
 /* font-size: small; */
 /* margin-left: 0px;
 margin-top: -2px; */
 /* margin-left: 12px;
 margin-top: 2px;
 transform: scale(1.2); */
 /* margin-left:13px;
 margin-top: 3px;
 transform: scale(1.3); */

 /* margin-left: 0px;
 margin-top: -2px;
 transform: scale(1.6); */
 /* margin-bottom: 0px;
 font-size: small;
 margin-left: 15px;
 margin-top: -2px;
 transform: scale(1.6); */
 margin-bottom: -2px;
 font-size: small;
 margin-left: 0px;
 margin-top: -1px;
 transform: scale(1.6);
}
.Lines2 {
 margin-top:-123px;
}
.Lines2Desk {
 height:350px;
}
.Bullet2 {
 /* width: 10px; */
 /* height: 10px; */
 /* border-radius: 50%; */
 /* border: 1px solid #a3f3fb; */
 /* left: 34%; */
 position: relative;
 top: -6px;
 left: 32.6%;

 width: 13px;
 height: 13px;
 border-radius: 50%;
 border: 1px solid #a3f3fb;
 transform: scale(1.6);
 background: #a3f3fb;
}
.CBold {
 font-family: 'CTC_Sans_Bold',sans-serif;
 margin-top:1px;
}
.Mt1px{
 margin-top:1px;
}
.SendAbsolute {
 position: absolute;
 line-height: 32px;
 /* border: 0; */
 /* background: transparent; */
 z-index: 13;
 /* margin-top: -20px; */
 bottom: 50px;
}
.Input,.Select {
 height: 2.5rem;
}
.Select {
 width: calc(100% - 15px);
 border-radius: 5px;
}
.Bubble11 {
 position: absolute;
 z-index: 0;
 /* top: -38px; */
 max-width: 6.5rem;
}
.Rect224 {
 top: 0px;
 /* left: calc(50% - 100px); */
 width: 50%;
 left: calc(25% + 1px);
}
.OuterRect {
 top: -12px;
 left: 90px;
 width: calc(100% - 175px);
}
.Stroke1 {
 top: 2.5rem;
 z-index: 10;
 width: 100px;
 left: calc(50% - 50px);
}
.Frame547 {
 bottom: 32%;
}
@media(min-width:375px){
 .Frame547 {
  bottom: 38%;
  transform: scale(0.9);
 }
}
@media(min-width:390px){
 .Frame547 {
  bottom: 34%;
 }
}
@media(min-width:393px){
 .Frame547 {
  bottom: 33%;
 }
}
@media(min-width:412px){
 .Frame547 {
  bottom: 28%;
 }
}
@media(min-width:576px){
 .Frame547 {
  bottom: 34%;
 }
}
.Frame547 {
 /* width: 30px;
 z-index: 10;
 bottom: 34%;
 right: 24%; */
 width: 7%;
 z-index: 10;
 right: 24%;
 /* width: 35px;
 z-index: 10;
 bottom: 37%;
 right: 30%; */
}
.Ellipse72 {
 top: -109px;
 left: calc(5%);
 width: 88%;
}
.ContainerDiv {
 min-height: 350px;
 overflow: hidden;
 padding-top: 7rem;
}
.Skew10 {
 bottom: -10px;
 right: -6px;
 border-right: 1px solid #a1f3fe;
 border-bottom: 1px solid #a1f3fe;
 background: #ff000000;
 height: 10px;
 transform: skew(45deg, 0deg);
 border-left: 1px solid #a1f3fe;
 width: 102% !important;
}
.Skew20 {
 top: 5px;
 right: -10px;
 border-right: 1px solid #a1f3fe;
 border-bottom: 1px solid #a1f3fe;
 /* background: red; */
 height: 10px;
 /* transform: skew(45deg, 0deg); */
 border-left: 1px solid #a1f3fe;
 transform: skew(0, 51deg);
 width: 10px;
 border-top: 2px solid #a1f3fe !important;
 border: 0;
}
.ALine {
 height: 70px;
 border-right: 1px solid #a1f3fe;
 top: -71px;
}
.Link {
 text-decoration: none !important;
}
.EllipseEmployee {
 -webkit-mask:linear-gradient(180deg, #000000 90%,#ffffff00);
 mask:linear-gradient(180deg, #000000 90%,#ffffff00);
 top:130px;
 left:0;
}
@media(min-width:576px) {
 .EllipseEmployee {
  -webkit-mask:linear-gradient(180deg,#ffffff00 0%,#000000 10%, #000000 90%,#ffffff00);
  mask:linear-gradient(180deg,#ffffff00 0%,#000000 10%, #000000 90%,#ffffff00)l
 }
}

.TopLogo {
 /* margin-left:-20%; */
}
@media(min-width:776px) {
 .TopLogo {
  /* margin-left:-30%; */
 }
}

.TopCopy {
}
.FirstCtc {
}
@media(min-width:1200px){
 .Lines2Desk {
  top:200px;
 }
 .Lines2Desk .FirstFrame {
  margin-left:31.2%;
  animation: move2_desk 11s linear infinite;
 }
 .BottomLineDesk .FirstFrame2 {
  margin-left:25.85%;
  animation: move2_second_desk 11s linear infinite;
 }
}
@media(min-width:800px) {
 .BottomLineDesk{
  /* width:141%; */
  scale:1.4;
 }
 .BottomLineDesk .FirstFrame2 {
  margin-left: -340px;
  animation: move2_second_desk_3 11s linear infinite;
 }
}
.CyberIvanCopy{
 top:0;
 left:0;
}
/* about */
@media(min-width:1200px) {
 .AboutBottom {
  transform: translateY(30px);
 }
 .AboutImg {
  transform:translateY(25px);
 }
}