.Frame {
 display: inline-block;
}
/* body {
 --ff2-width: 322px;
 --ff2-mob-width: 176px;

 --ff-width: 639px;
 --ff-mob-width: 350px;
} */

.Rect,.Rect2{
 box-shadow: none;
 position: relative;
 white-space: nowrap;
 box-sizing: border-box;
 z-index: 10;
}
.Rect2 {
 background:radial-gradient(27% 160% at 44% 49.76%, #B2FAFD 0%, #4BCDF0 100%);
 transform: rotate(3.23deg);
}
.Rect {
 background: radial-gradient(34% 100.39% at 60.1% 50.76%, white 0%, #C8F1FF 100%);
 transform: rotate(-3.23deg);
}
/* this can change according to resolution */
.Slash {
 padding-left:1.3rem;
 padding-right:1.3rem;
}
.Lines {
 margin-left: -10px;
 width:calc(100% + 20px);
 margin-top:-10px;
}
.Lines:not(.LinesMid) {
 /* margin-top:-20px; */
}
@keyframes move {
 0% {
  transform:translateX(-100%);
 }
 100% {
  transform:translateX(0);
 }
}
/* @keyframes move2_mob {
 0% {
  margin-left:calc(var(--ff2-mob-width) * -1);
 }
 100% {
  margin-left:0;
 }
} */
.Lines .Line {
 height:2.1rem;
 line-height:2.1rem;
}
@media (max-width:576px) {
 .Rect {
  transform: rotate(-4.53deg);
  outline: 1px solid transparent;
 }
 .Rect2 {
  transform: rotate(4.56deg);
  outline: 1px solid transparent;
 }
 .Rect2 {
  transform: rotate(6.23deg);
 }
 .Lines .Line {
  line-height: 31px;
  height: 30px;
  font-size: 12.39px;
 }
 .FirstLine {
  top:12px;
 }
 .SecondLine {
  top:-25px;
 }
 .Lines .FirstLine .Frame {
  animation: move 7s linear infinite;
 }
 .Lines .SecondLine .Frame {
  animation: move 5.5s linear infinite;
 }
}
@media(min-width:768px) {
 .Lines .Line {
  line-height: 3rem;
  height: 2.5em;
  font-size: 1.15rem;
 }
}
@media(min-width:992px) {
 .Lines .Line {
  line-height: 2.5rem;
 }
}
@media (min-width:576px) {
 .Lines {
  transform:translateY(-50px);
  margin-top:0px;
 }
 .FirstLine {
  top: 50px;
 }
 .Lines .FirstLine .Frame {
  animation: move 7s linear infinite;
 }
 .Lines .SecondLine .Frame {
  animation: move 5.5s linear infinite;
 }
}
@media(min-width:1200px) {
 .Lines {
  transform: translateY(-70px);
 }
 .FirstLine {
  top: 55px;
 }
}
@media(min-width:1440px) {
 .Lines {
  transform: translateY(-65px);
 }
 .FirstLine {
  top: 50px;
 }
}
@media(min-width:1620px) {
 .Lines {
  transform: translateY(-60px);
 }
}
@media (min-width:992px) {
 .Lines .Line {
  line-height: 3rem;
  height: 3rem;
  font-size: 1.3rem;
 }
}
@media (min-width:1200px) {
 .Lines .Line {
  line-height: 3.6rem;
  height: 3.5rem;
  font-size: 1.5rem;
 }
}
.LinesMid {
 padding-top:3.15rem;
 padding-bottom:2.1rem;
}
@media(min-width:576px) {
 .LinesMid {
  padding-top:5rem;
 }
}
@media(min-width:1200px) {
 .LinesMid {
  padding-top:150px;
 }
}
@media(min-width:1900px) {
 .Lines:not(.LinesMid) {
  transform: translateY(-60px) scale(1.2);
 }
}
@media(min-width:2200px) {
 .Lines:not(.LinesMid) {
  transform: translateY(-57px) scale(1.3);
 }
}
@media(min-width:2400px) {
 .Lines:not(.LinesMid) {
  transform: translateY(-54px) scale(1.4);
 }
}

/* .FirstLine .Frame {
 width: var(--ff-mob-width);
 overflow: hidden;
 display: inline-block;
}

@media(min-width:576px) {
 .FirstLine .Frame {
  width: var(--ff-width);
 }
} */