
/* @media(min-width:768px) and (max-width:992px) {
 .OrderCol {
  margin-left:calc(5rem + 10px);
 }
} */
.LeftOrderDec {
 top:10px;
 left:30px;
 pointer-events: none;
}
@media(min-width:768px) {
 .LeftOrderDec {
  top:-30px;
  left:-15px;
 }
}
@media(min-width:768px) and (max-width:992px) {
 .OrderCol {
  padding-top: 4rem;
  padding-bottom: 1rem;
 }
}
@media(min-width:992px) {
 .LeftOrderDec {
  top:-10px;
  left:-30px;
 }
}

.ConfirmCopy {
 pointer-events: none;
 opacity: 40%;
 top: 0rem;
 display: inline-block;
 /* padding-top: 3rem; */
 line-height: 1rem;

 padding-bottom: 0;
 padding-left: 1.5rem;
 padding-right: 1.5rem;
}
@media(min-width:576px) {
 .ConfirmCopy {
  padding-left: 1.3rem;
  padding-right: 2.3rem;
 }
}
@media(min-width:992px) {
 .ConfirmCopy {
  padding-left: 3rem;
  padding-right: 3rem;
 }
}
@media(min-width:1200px) {
 .ConfirmCopy {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
 }
 .Select {
  padding-top: 6px;
 }
}
@media(min-width:1400px) {
 .ConfirmCopy {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
 }
}
@media(max-width:576px) {
 .OrderFormCol {
  padding-left:1.25rem;
  padding-right:1.25rem;
 }
 .ConfirmCopy {
  padding-top:0.7rem;
  padding-bottom:10px;
 }
}

.Select {
 width: 100%;
}
.Select,.Input {
 height: 3rem;
}
@media(max-width:576px) {
 .Select,.Input {
  height: 2.45rem;
 }
 .Input1 {
  height: 2.65rem;
  margin-bottom:3px;
 }
 .Input2 {
  height: 2.55rem;
 }
}

.OrderCol {
 padding-top:5rem;
 padding-left:6rem;
 padding-right:6rem;
}
@media(min-width:992px) {
 .OrderCol {
  height:500px;
 }
}
@media(min-width:992px) {
 .OrderCol {
  padding-left:12rem;
  padding-right:12rem;
 }
 .CopyWide {
  margin-left: -5rem;
  margin-right: -5rem;
 }
}

@media(min-width:576px) and (max-width:768px) {
 .CopyWide {
  padding-top:1.5rem;
  /* padding-bottom:1rem; */
  font-size:.8rem;
 }
 .OrderFormCol {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
 }
}
@media(min-width:768px) and (max-width:992px) {
 .CopyWide {
  padding-bottom:1.5rem;
 }
}

.OrderMobEllipse {
 top: 60px;
 position: absolute;
 width: 376px;
 height: 380.21px;
 left: calc(50% - 376px/2 + 0.5px);
 background: radial-gradient(40.16% 40.16% at 53.42% 48.6%, #FFFFED 0%, #81F2FF 31.77%, #00A3FF 100.42%, #0b161d 100%) ;
 filter: blur(140.299px);
}
select.Select{
 -moz-appearance:none; /* Firefox */
 -webkit-appearance:none; /* Safari and Chrome */
 appearance:none;
}

/* SEND BUTTON */
.SubmitButton:focus-visible,.SubmitButton:focus,.SubmitButton:active {
 outline:none;
}
.SubmitButton:active {
 transform: scale(0.85);
}
.SendButtonImg{
 display: inline-block;
 height:40px;
}
@media(min-width:576px) {
 .SendButtonImg{
  height:62px;
 }
}
@media(min-width:786px) and (max-width:992px){
 .LeftOrderDec {
  top: -21px;
  left: -19px;
  scale: 0.9;
 }
}
@media(min-width:1200px) {
 .Order {
  padding-left: 25px;
  padding-right: 20px;
 }
 .OrderCol {
  padding-top: 4rem;
  height: 463px;
 }
 .LeftOrderDec {
  top: -32px;
  left: -29px;
 }
 .OrderCol {
  padding-left: 14.3rem;
  padding-right: 14.7rem;
 }
 .CopyWide {
  margin-left: -5rem;
  margin-right: -5rem;
 }
}
.OrderDeskEllipse {
 width: 536px;
 height: 542px;
 left: calc(50% - 536px/2);
 background: radial-gradient(40.16% 40.16% at 53.42% 48.6%, #FFFFED 0%, #81F2FF 31.77%, #00A3FF 92.42%, #0b161d 120%);
 filter: blur(200px);
 top: -20px;
}