.LastTypesHeading {
 margin-bottom:-3rem;
}
.ServiceRow {
 border-bottom:1px solid black;
 padding-bottom:.2rem;
 /* margin-bottom: 1rem; */
 padding-left:0;
 padding-right:0;
}
/*  */
@media(min-width:1200px) {
 h2.TypesOfCleaning {
  padding-top: 3.1rem;
  transform: translate(-17px,-4px);
 }
}
/*  */
@media(max-width:576px) {
 .ServiceRow{
  padding-bottom:0;
 }
 h2.TypesOfCleaning {
  font-size: 1.4rem;
 }
 h3.SupportTitle {
  font-size:0.86rem;
  padding-top:2px;
  margin-bottom:22px;
 }
 h3.ExtraTitle {
  font-size:0.9rem;
  padding-top:3px;
  margin-bottom:20px;
 }
 h3.CyberTitle {
  font-size:1rem;
  padding-top:5px;
  margin-bottom:23px;
 }
}
.SupportCo {
 /* padding-top:rem; */
 padding-bottom:2.7rem;
}
.ExtraCo {
 /* padding-top:rem; */
 padding-bottom:calc(2.7rem + 2px);
}

.TypeHeading {
 margin-top:2.7rem;
 color:#f4f5f6;
}
/*  */
@media(max-width:576px) {
 .TypeHeading {
  margin-top:2.2rem;
  margin-bottom:1.5rem;
 }
}
.Bubble6 {
 left: -25px;
 top: -250px;
}
/*  */
@media(max-width:576px) {
 .Bubble6 {
  scale: 1.15;
  transform-origin: left top;
 }
}
/*  */
@media(min-width:576px) {
 /* .FirstTypes .ServiceRow {
  margin-top:2rem;
 } */
 .Bubble6 {
  left: -80px;
  top:-102px;
 }
 .TypesMid .Col1 {
  padding-right:15px !important;
 }
 .TypesMid .Col2 {
  padding-left:15px !important;
 }
 .TypesMid {
  margin-bottom:5rem !important;
 }
}
@media(min-width:1200px) {
 .TypesMid {
  margin-bottom:4.2rem !important;
 }
 .Bubble6 {
  left: -83px;
  top: -81px;
  scale: 1.4;
 }
}
/*  */
@media(max-width:576px) {
 .FirstTypes .TypesCo1 {
  /* padding-bottom: 2px; */
 }
}
/*  */
@media(min-width:576px) {
 .TypesCo {
  padding-left:5rem;
  padding-right:5rem;
 }
 .LastTypes .TypesCo1 {
  padding-right:2.5rem;
 }
 .LastTypes .TypesCo2 {
  padding-left:2.5rem;
 }
}
@media(min-width:768px) and (max-width:992px) {
 .Bubble6 {
  left: -40px;
  top: -62px;
 }
 .TypesCo {
  padding-left:4.5rem;
  padding-right:4.5rem;
 }
 .FirstTypes .TypesCo, .LastTypes .TypesCo {
  padding-left:2.5rem;
  padding-right:2.5rem;
 }
}
/* .TypeSubCo {
 padding-bottom:100%;
} */

.OrderWr {
 bottom:-5px;
}
@media(min-width:576px) {
 .OrderWr {
  bottom:-23px;
 }
}
@media(min-width:1200px) {
 .OrderWr {
  bottom:-4px;
 }
 .TypesMid .OrderWr,.LastTypes .OrderWr {
  bottom:-23px;
 }
}
/*  */
@media(max-width:576px) {
 .OrderBuIm {
  height:40px;
 }
 .FirstTypes .OrderWr,.LastTypes .OrderWr {
  left:15px;
 }
 .T.T_Extra {
  padding-left:3.8rem;
 }
 .TypesCo {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
 }
 .FirstTypes .T2 {
  padding-bottom: 2.8rem;
 }
 /* .TypesDiv {
  padding-bottom: 100%;
 } */

 .TypeSubCo {
  padding-left: 4.2rem !important;
  margin-left: 15px !important;
  margin-right: 10px !important;
 }
 .TypeSubCo2 {
  margin-left: 0 !important;
  padding-right: 37px !important;
 }
}
.T{
 padding-left:4.2rem;
}
.T2{
 padding-left:2rem;
 padding-right:2rem;
}
/*  */
@media(max-width:576px) {
 .T2{
  padding-left:calc(2rem + 5px);
  padding-right:calc(2rem + 5px);
 }
}

/**/
@media(max-width:576px) {
 .LastTypes .TypesCo2 {
  padding-bottom:2.8rem;
 }
}

.FirstTypes {
 margin-top:2rem;
}

/**/
@media(min-width:576px) {
 /* .FirstTypes .TypesCo{
  padding-bottom:3rem;
 } */
 .FirstTypes .TypesDiv {
  padding-top:1rem;
  padding-bottom:3rem;
 }
 .FirstTypes {
  margin-top:3rem;
 }
 .LastTypes .TypesCo1,.LastTypes .TypesCo2{
  padding-bottom:3rem;
 }
 .TypesMid .TypesCo {
  padding-bottom:3rem;
 }
}
/*  */
@media(min-width:992px){
 .T{
  padding-left:5.2rem;
 }
 /* .T2{
  padding-left:4.5rem;
  padding-right: 3rem;
 } */
}
@media(min-width:1200px) {
 .TypesMid .ServiceRow {
  /* margin-top:2.1rem; */
 }
}
/*  */
@media(min-width:992px) {
 .LastTypes .TypeHeading {
  padding-left: 3.5rem;
 }
}
/*  */
@media(min-width:576px) {
 .OrderWr {
  padding-right:0rem;
  padding-left:1.3rem;
 }
 .OrderWr span {
  padding-right:17px !important;
 }
}
/*  */
@media(min-width:768px) {
 .OrderWr span {
  padding-right:3.2rem !important;
 }
}
@media(min-width:576px) and (max-width:768px) {
 .FirstTypes .OrderWr {
  padding-bottom: 1.3rem;
 }
 .FirstTypes .FS17, .LastTypes .FS17, .TypesMid .FS17 {
  font-size: 0.9rem !important;
 }
}
/*  */
@media(min-width:768px) {
 .OrderWr {
  padding-right:4rem;
 }
}
/*  */
@media(min-width:768px) {
 .LastTypes .TypeHeading,.FirstTypes .TypeHeading {
  padding-left: 4.5rem;
 }
}

@media(min-width:992px) and (max-width:1200px) {
 .FirstTypes .TypesDiv {
  padding-bottom:42px;
 }
 .LastTypes .TypesDiv {
  padding-bottom:42px;
 }
 .LastTypes .TypeHeading,.FirstTypes .TypeHeading {
  padding-left: 5.5rem;
 }
 .FirstTypes .TypesCo {
  padding-left:4.5rem;
  padding-right:4.5rem;
  padding-bottom:0 !important;
 }
 .FirstTypes .TypesCo1, .LastTypes .TypesCo1 {
  padding-left:4rem;
 }
 .FirstTypes .TypesCo2, .LastTypes .TypesCo2 {
  padding-right:4rem;
 }
}
.OrderBu {
 color:#0B161D;
}

.EllipseSm{
 top:107px;
 height: 1581px;
 width: 1111.27px;
 background: radial-gradient(40.16% 40.16% at 53.42% 48.6%, #64baffe6 0%, #81f2ffe6 31.77%, #00a3ffe6 100.42%, #0b161d 110%);
 filter: blur(124.582px);
 left: calc(50% - 1111.27px/2 - 3.5px);
}
.EllipseLg{
 top:-35px;
 background: radial-gradient(40.16% 40.16% at 53.42% 48.6%, #8cd8e5 20%, #81f2ffe6 61.77%, #00a3ffe6 120.42%, #0b161d 110%);
 /* background: radial-gradient(40.16% 40.16% at 53.42% 48.6%, #d9f2ffe6 20%, #81f2ffe6 61.77%, #00a3ffe6 100.42%, #0b161d 110%); */
 filter: blur(200px);
}
@media(min-width:768px) and (max-width:992px) {
 .OrderBuIm {
  height:48px;
 }
 .OrderWr span {
  padding-right:2.05rem !important;
 }
 .OrderWr {
  bottom:-20px;
 }
}

/*EclipseLg*/
/*Find all rules for min-width 576px using the compiler. @arg name*/
@media(min-width:576px) {
 .EllipseLg {
  height: 824px;
 }
}
/*  */
@media(min-width:768px) {
 .EllipseLg {
  height: 1124px;
 }
}
/*  */
@media(min-width:992px) {
 .EllipseLg {
  height: 1484px;
 }
}
.OrderBuImHover {
 display:none;
}
.OrderBuImDown {
 display:none;
 transform: translate(-5px, 1px);
}
.OrderBuImOrig {
 display:inline-block;
}
.OrderWr:hover:not(:active) .OrderBuImHover {
 display: inline-block;
}
.OrderWr:hover .OrderBuImOrig {
 display: none;
}
/*  */
@media(min-width:576px) {
 .OrderWr:active span {
  font-size:13.11px;
  transform:translate(-3px, 1px);
 }
}
.OrderWr:active .OrderBuImDown {
 display: inline-block;
}
.OrderWr:active .OrderBuImOrig {
 display: none;
}
.OrderWr > * {
 cursor: pointer;
}