.OrderWr:active span {
 font-size:13.11px;
 transform:translate(-3px, 1px);
}
.EllipseLg {
 height: 824px;
}
.OrderWr:active span {
 font-size:13.11px;
 transform:translate(-3px, 1px);
}
.Bubble6 {
 left: -80px;
 top:-102px;
}
.TypesMid .Col1 {
 padding-right:15px !important;
}
.TypesMid .Col2 {
 padding-left:15px !important;
}
.TypesMid {
 margin-bottom:5rem !important;
}
.TypesCo {
 padding-left:5rem;
 padding-right:5rem;
}
.LastTypes .TypesCo1 {
 padding-right:2.5rem;
}
.LastTypes .TypesCo2 {
 padding-left:2.5rem;
}
.OrderWr {
 bottom:-23px;
}
.FirstTypes .TypesDiv {
 padding-top:1rem;
 padding-bottom:3rem;
}
.FirstTypes {
 margin-top:3rem;
}
.LastTypes .TypesCo1,.LastTypes .TypesCo2{
 padding-bottom:3rem;
}
.TypesMid .TypesCo {
 padding-bottom:3rem;
}
.OrderWr {
 padding-right:0rem;
 padding-left:1.3rem;
}
.OrderWr span {
 padding-right:17px !important;
}