.EllipseLg {
 height: 1784px;
}
.FirstTypes .TypeHeading, .LastTypes .TypeHeading {
 padding-left: 5.6rem;
}
.FirstTypes .TypesCo, .LastTypes .TypesCo  {
 padding-right:5rem;
}
.FirstTypes .TypesCo1 {
 padding-left:5.4rem;
 padding-right:3.4rem;
}
.FirstTypes .TypesCo2 {
 padding-right:5.4rem;
 padding-left: 3.7rem;
}
.LastTypes .TypeHeading {
 margin-top:     2.9rem;
}
.LastTypes .TypesDiv {
 padding-bottom: 40px;
}
.LastTypes .TypesCo {
  padding-top:    8px !important;
  padding-bottom: 0 !important;
}
.LastTypes .TypesCo1 {
  padding-left:5.4rem;
  padding-right:3.6rem;
}
.LastTypes .TypesCo2 {
  padding-right:5.4rem;
  padding-left: 3.5rem;
}
.TypesMid .TypeHeading {
  margin-top: 3rem;
  letter-spacing: -.02rem;
}
.TypesMid .TypesCo1 .TypeHeading {
  margin-left: -10px;
}
.TypesMid .TypesCo {
  padding-left: 5.4rem;
  padding-right: 5.5rem;
}
.FirstTypes .TypeHeading {
  margin-top: 3.7rem;
}
.FirstTypes .TypesDiv {
  padding-top:   1rem;
  padding-bottom:62px;
}
.FirstTypes .TypesCo  {
  padding-top:17px !important;
  padding-bottom:8px !important;
}
.FirstTypes.MaxContainer,.LastTypes.MaxContainer,.TypesMid.MaxContainer {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.LastTypes .TypesCo1{
  padding-top:2rem;
  padding-left: 5rem;
  padding-right:5rem;
  padding-bottom:0rem;
}
.LastTypes .TypesCo2{
  padding-left:5rem;
  padding-right:5rem;
  padding-bottom:5rem;
}
h2.TypesOfCleaning {
  padding-top: 3.1rem;
  transform: translate(-17px,-4px);
}