
@media(min-width:992px){
 .T{
  padding-left:5.2rem;
 }
 /* .T2{
  padding-left:4.5rem;
  padding-right: 3rem;
 } */
}
@media(min-width:992px) {
 .LastTypes .TypeHeading {
  padding-left: 3.5rem;
 }
}

@media(min-width:992px) {
 .EllipseLg {
  height: 1484px;
 }
}