.ServiceRow{
 padding-bottom:0;
}
h2.TypesOfCleaning {
 font-size: 1.4rem;
}
h3.SupportTitle {
 font-size:0.86rem;
 padding-top:2px;
 margin-bottom:22px;
}
h3.ExtraTitle {
 font-size:0.9rem;
 padding-top:3px;
 margin-bottom:20px;
}
h3.CyberTitle {
 font-size:1rem;
 padding-top:5px;
 margin-bottom:23px;
}
.TypeHeading {
 margin-top:2.2rem;
 margin-bottom:1.5rem;
}
.Bubble6 {
 scale: 1.15;
 transform-origin: left top;
}
.FirstTypes .TypesCo1 {
 /* padding-bottom: 2px; */
}
.OrderBuIm {
 height:40px;
}
.FirstTypes .OrderWr,.LastTypes .OrderWr {
 left:15px;
}
.T.T_Extra {
 padding-left:3.8rem;
}
.TypesCo {
 padding-left: 1.6rem;
 padding-right: 1.6rem;
}
.FirstTypes .T2 {
 padding-bottom: 2.8rem;
}
/* .TypesDiv {
 padding-bottom: 100%;
} */

.TypeSubCo {
 padding-left: 4.2rem !important;
 margin-left: 15px !important;
 margin-right: 10px !important;
}
.TypeSubCo2 {
 margin-left: 0 !important;
 padding-right: 37px !important;
}
.T2{
 padding-left:calc(2rem + 5px);
 padding-right:calc(2rem + 5px);
}
.LastTypes .TypesCo2 {
 padding-bottom:2.8rem;
}