.Video video {
 border: 1px solid #A3F3FB;
}
.Video video, .Video .Frame {
 top: 0;
}
@media(max-width:576px) {
 .Video video {
  transform: scale(1.02) translateY(9px);
 }
}
.VideoBubble {
 right:18px;
 top: 28px;
 position:absolute;
}
@media(min-width:576px) {
 .Video .VideoCont {
  padding-right:6px;
  padding-top:13px;
  margin-top:13px;
  /* margin-bottom:13px; */
 }
 .Video {
  margin-top:7rem !important;
 }
 .VideoBubble {
  right:-80%;
  top: 18px;
 }
}
@media(min-width:1200px) {
 .Video {
  margin-top:6rem !important;
 }
 .VideoBubble{
  right: -260px;
  top: 30px;
  scale: 1.21;
 }
}
/* @media(min-width:768px) and (max-width:992px) {
 .Video video, .Video .Frame {
  top: -8px;
 }
} */
@media(min-width:992px) {
 .Video video {
  transform: scale(0.99);
  margin-top: 4px
 }
}
@media(min-width:1200px) {
 .Video video {
  transform: scale(0.98);
  margin-top: 4px
 }
}
.VideoEclipse {
 /* width:536px; */
 /* height:542px; */
 width: 372px;
 height: 372px;
 left: 50%;
 top: -100%;

 background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #65DCEA 33.96%, #15A4FF 51.04%, #0b161d 100%);
 /* background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #65DCEA 33.96%, #15A4FF 51.04%, #0b161d00 100%); */
 filter: blur(45.3397px);
}

@media(min-width:1200px) {
 .VideoEclipse {
  filter: blur(113.12px);
 }
}

.VideoCol {
 padding-left:20px;
 padding-right:20px;
}
.Video .Frame {
 width: calc(100% - 34px);
 left: 18px;
 top: 2px;
}
@media(max-width:576px) {
 .Video .Frame {
  width: calc(100% - 24px);
  left: 12px;
  top: 0px;
 }
}
@media(max-width:768px) {
 .Video .Frame {
  width: calc(100% - 25px);
  left: 13px;
 }
}

@media(min-width:576px) {
 .VideoEclipse {
  left: 70%;
  top: -59%;
 }
}

@media(min-width:768px) {
 .VideoEclipse {
  left: 80%;
  top: -49%;
 }
}

@media(min-width:992px) {
 .VideoEclipse {
  left: 83%;
  top: -20%;
 }
}

@media(min-width:1200px) {
 .VideoEclipse {
  /* width:536px; */
  /* height:542px; */
  width: 1042px;
  height: 1042px;
  left: 70%;
  top: -59%;
 }
}
