.TopRightCorner {
 height:20px;
}
.Triangle {
 right:0 !important;
}
.FirstCtc {
 padding-left:10px;
 /* inset 0 0 0 0.13px #a3f3fb */
}
.TopBar {
 height:19px;
}
.ICameTitle {
 color:#0B161D;
 background:transparent;
}
.AchieveImg {
 max-width: 43%;
}
.Box2Achieve {
 left: calc(50% - 80px);
 top: 0;
}
.Achieve2Ellipse {
 left: calc(50% - 120px);
 top: -50px;
}
.CTC {
 scale: 1.05;
 margin-top: 1px;
}