# x1

<add-file>video/mobile-top-480.mp4</add-file>
<add-file>video/mobile-top-720.mp4</add-file>
<add-file>video/mobile-top-1080.mp4</add-file>

<container>
 <row>
  <column p-0>
   <video  img-fluid playsinline autoplay muted loop>
    <source src="video/mobile-top-480.mp4" type="video/mp4">
   </video>
  </column>
 </row>
</container>

# x2

<container>
 <row>
  <column p-0>
   <video img-fluid playsinline autoplay muted loop>
    <source src="video/mobile-top-720.mp4" type="video/mp4">
   </video>
  </column>
 </row>
</container>

# x3

<container>
 <row>
  <column p-0>
   <video  img-fluid playsinline autoplay muted loop>
    <source src="video/mobile-top-1080.mp4" type="video/mp4">
   </video>
  </column>
 </row>
</container>