<div height="45px" d-none d-md-block>
</div>

<div height="3rem" d-none d-md-block>
</div>
<div height="2.8rem" d-md-none>
</div>

<container-fluid BottomCont FooterCo>
 <container mb-3 mb-md-5 MaxContainer Footer1Co>
  <row Row align-items-center>
   <column col-12 col-md-5 d-flex col-md-5>
    <div background="#FFCB05" width="60px" height="60px" Box d-flex
    align-items-center justify-content-center>
     <img src="./img/ctc_dark.png" img-fluid />
    </div>
    <div FS12 FSMB12 SmotriWr>
     <h4 CBold text-uppercase FSMB12 FS12 m-0 mt-3>
      Смотри СТС
     </h4>
     <p text-uppercase CMedium>
      Первый развлекательный
     </p>
    </div>
   </column>

   <column col-12 col-md-3 d-flex flex-column PadLeft>
    <div FS12 FSMB12 FooterMid>
     <h5 CMedium Upper text-uppercase m-0 FSMB12 FS12>
      <a href="https://idealone.ru" target="_blank" color="#0B161D !important">iDeal.One</a>
     </h5>
     <p CMedium text-lowercase opacity=".5" color="#0B161D" mb-0>
      Клининговая компания
     </p>
    </div>
   </column>

   <!-- <column col-6 d-md-none>
   </column> -->

   <column col-12 col-md-4 FSMB12 FS12 text-lowercase opacity=".5"
   color="#0B161D" PadLeft OfferWr FooterPolicy>
    <p mb-0  margin-left="1px">
     <a href="https://idealone.ru/privacy-policy" target="_blank" color="#0B161D !important">Политика конфиденциальности</a>
    </p>
    <p mb-0  margin-left="1px">
     <a href="https://idealone.ru/offer" target="_blank" color="#0B161D !important">Договор оферта</a>
    </p>
   </column>
  </row>
 </container>

 <container mt-3 MaxContainer Footer2Co>
  <row>
   <column FSMB12 FS12 opacity=".25" PadLeft color="#0B161D">
    <p margin-top="-4px" margin-left="1px">
     © 2023 Телеканал СТС, АО «СТС»
    </p>
   </column>
  </row>
 </container>
</container-fluid>
