<container MobPadding About MaxContainer>
 <row position-relative>
  <column col-0 col-sm-2></column>
  <column col-12 col-sm-8 position-relative AboutCol>
   <img src="./Rectangle182.jpg" img-fluid alt="team" webp AboutImg />

   <div position-absolute top="0" BorderWr w-100 h-100 pointer-events="none">
    <img src="./img/border3.png" Border img-fluid max-width="200%" d-md-none alt="" />
    <img src="./img/border-desk.png" Border max-width="200%" img-fluid d-none
    d-md-inline-block alt="" />
   </div>

  </column>
 </row>

 <row position-relative AboutBottom>
  <column col-0 col-sm-2></column>
  <column col-12 col-sm-8 text-center>
   <h5 m-0 Autonomous FS18 FSMB12 pb-3 pt-2 text-uppercase letter-spacing="-0.01rem">
    //ideal.one
   </h5>
  </column>
 </row>
</container>

<container mt-2 mt-md-5 color="white" About2>
 <row position-relative>
  <column col-12 text-center text-uppercase px-0>
   <h4 FS42 FSMB16 Autonomous pt-md-5 pb-3 mb-0 line-height="1.3">
    IDEAL.ONE сделают ваш дом<br/>  идеально чистым!
   </h4>
  </column>
  <column col-0 col-lg-2 col-md-1 px-0>
  </column>
  <column col-12 col-lg-8 col-md-10 text-center FS18 FSMB14 AboutCopy>
   <p m-0 px-2 px-md-0 opacity=".8" line-height="1.3" letter-spacing="-0.02rem">
    iDeal.One — профессиональная клининговая служба для физических<br d-none
    d-lg-inline /> и юридических лиц. Обеспечиваем порядок в квартирах, частных
    домах, государственных и муниципальных учреждениях. Участвуем в тендерах.
   </p>
  </column>

 </row>
</container>


<container px-0 px-md-2>
 <row position-relative>
  <column col-3>
  </column>

  <!-- resize-to="330" x1 x2 x3  -->

  <column col-6 text-center py-4 py-md-5 px-4 AboutIconsWr>
   <img src="./icons.png" AboutIcons img-fluid webp max-width="min(330px, 100%)" />
  </column>

  <column position-absolute col-5 col-md-2>
   <img src="./img/bubble4.png" alt="" Bubble4_Desk img-fluid webp
   d-none d-md-inline-block />
   <img src="./img/bubble4-mob.png" alt="" d-md-none Bubble4_Mob img-fluid webp
   />
  </column>
 </row>

 <row mt-md-3 pt-2 pt-md-0>
  <column col-0 col-md-2 px-0>
  </column>

  <column col-12 col-8 text-center text-white FS18 FSMB14 AboutCopy2>
   <div h-100 float-left ShapeLeft>
   </div>
   <div h-100 float-right ShapeRight>
   </div>

   <p opacity=".8"  line-height="1.3">
    Принципы в работе — честность, <br ..lb-s /> экологичность, надежность. <br d-none
    d-md-inline /> Заботимся об  <br ..lb-s />экологии, поддерживаем инновации. В&nbsp;будущем <br
    d-none d-md-inline /> <br ..lb-s /> планируем реализовать идею по уборке  с&nbsp;помощью
    роботов.<br d-none d-md-inline /> Мечтаем построить  <br ..lb-s />космическую станцию в
    космосе.
   </p>
  </column>
 </row>
</container>


<<lb-s1 d-sm-none />>
<<lb-s d-none />>