{
  "title": "video-test",
  "content": "<!area-f046e file=\"pages/test/content/index.html\">\n〈AREA-NEW-LINE〉\n<h1 id=\"x1\">x1</h1>\n\n\n<div class=\"b-z\">\n  <div class=\"b-B\">\n    <div class=\"b-Nq b-D\">\n      <video playsinline autoplay muted loop class=\"b-t\">\n       <source src=\"video/mobile-top-480.mp4\" type=\"video/mp4\">\n      </video>\n    </div>\n  </div>\n</div>\n\n<h1 id=\"x2\">x2</h1>\n\n<div class=\"b-z\">\n  <div class=\"b-B\">\n    <div class=\"b-Nq b-D\">\n      <video playsinline autoplay muted loop class=\"b-t\">\n       <source src=\"video/mobile-top-720.mp4\" type=\"video/mp4\">\n      </video>\n    </div>\n  </div>\n</div>\n\n<h1 id=\"x3\">x3</h1>\n\n<div class=\"b-z\">\n  <div class=\"b-B\">\n    <div class=\"b-Nq b-D\">\n      <video playsinline autoplay muted loop class=\"b-t\">\n       <source src=\"video/mobile-top-1080.mp4\" type=\"video/mp4\">\n      </video>\n    </div>\n  </div>\n</div></!area-f046e>",
  "file": "test",
  "postAjax": ""
}