<container d-none d-md-block StepsDesk MaxContainer>
 <row StepDeskRow>
  <column>
   <h4 Autonomous text-uppercase text-center color="#A3F3FB" FS48 mb-5>
    Три Простых Шага
   </h4>
  </column>
 </row>

 <row padding-left="5rem" padding-right="5rem">
  <column col-12 position-relative>
   <div position-absolute LeftCircle></div>
   <div py-3 border-top="1px solid #A3F3FB" position-relative margin-left="-5px"
   width="calc(100% + 10px)" transform="translateY(1px)">
   </div>
   <div position-absolute MidCircle></div>
   <div position-absolute RightCircle></div>
  </column>
 </row>

 <row mb-5 NumRow>
  <column col-4>
   <span FS48 Autonomous color="#A3F3FB" One>
    1
   </span>
  </column>
  <column col-4 text-center>
   <span FS48 Autonomous color="#A3F3FB">
    2
   </span>
  </column>
  <column col-4 text-right pr-5>
   <span FS48 Autonomous color="#A3F3FB" Three>
    3
   </span>
  </column>
 </row>

 <row mb-4 margin-top="-3.1rem">
  <column position-relative col-4>
   <img src="./img/soap-desk.png" SoapDesk max-width="100%" alt=""
   resize-to="217" x1 x2 x3 placeholder-auto webp />
  </column>

  <column position-relative col-4 d-flex justify-content-center transform="translate(-17px,-25px)">
    <img src="./img/check-desk.png" CheckDesk max-width="100%"" alt="" resize-to="205"
    x1 x2 x3 placeholder-auto webp />
  </column>

  <column position-relative col-4 text-right ThreeIcon>
   <img src="./img/gift-desk.png" PresentDesk max-width="100%" webp alt="" resize-to="230"
   x1 x2 x3 placeholder-auto webp  />
  </column>
 </row>

 <row margin-top="-4.5rem" padding-top="6px">
  <column px-0>
   <p Autonoumous FS16 color="#fff" m-0 text-lowercase my-3 margin-left="18px !important">
    Выберите уборку
   </p>
  </column>
  <column px-0>
   <p text-center Autonoumous FS16 color="#fff" m-0 text-lowercase my-3 margin-left="12px !important">
    оставьте заявку
   </p>
  </column>
  <column px-0>
   <p text-right Autonoumous FS16 color="#fff" m-0 text-lowercase my-3
   ThreeCopy>
    получите подарки
   </p>
  </column>
 </row>
</container>
