<container d-md-none position-relative>
 <row>
  <column>
   <h4 Autonomous text-uppercase text-center color="#A3F3FB" FS36 FSMB24 mb-5 Mb2>
    Три Простых Шага
   </h4>
  </column>
 </row>

 <row>
  <column col-4>
  </column>
  <column col-4 text-center d-flex flex-column color="#A3F3FB">
   <span BulletMob BulletMobTop>O</span>
   <span Pipe PipeMob>|</span>
  </column>
 </row>
 <row>
  <column col-4>
  </column>
  <column col-4 text-center>
   <span FS48 FSMB38 Autonomous color="#A3F3FB">
    1
   </span>
  </column>
 </row>
 <row>
  <column col-2>
  </column>
  <column position-relative col-8 text-center margin-top="-1.4rem">
   <img src="./img/soap.png" padding-left="3px" padding-top="1px" padding-bottom="4px" img-fluid alt="выберите уборку" max-width="170px" webp />
  </column>
 </row>

 <row>
  <column>
   <p text-center Autonoumous FS26 FSMB14 color="#fff" m-0 text-lowercase transform="translate(2px,-10px)">
    Выберите уборку
   </p>
  </column>
 </row>

 <row>
  <column d-flex justify-content-end position-relative col-4 col-md-2>
   <img src="./img/bubble.png" pointer-events="none" alt="bubble" Bubble_Steps_Mob
   position-absolute z-index="11" img-fluid />
  </column>
 </row>

 <row>
  <column col-4>
  </column>
  <column col-4 text-center d-flex flex-column color="#A3F3FB" padding-top="4px">
   <span Pipe PipeMob line-height="calc(2.5rem - 2px)">|</span>
   <!-- calc(2.5rem + 2px) -->
   <span Bullet Bullet2 BulletMob FS72 d-inline-flex></span>
   <span Pipe PipeMob line-height="2.25rem" transform="translateY(-5px)">|</span>
  </column>
 </row>

 <row margin-top="-1px" position-relative z-index="20">
  <column col-4>
  </column>
  <column col-4 text-center>
   <span FS48 FSMB38 Autonomous color="#A3F3FB" d-inline-block transform="translateY(-2px)">
    2
   </span>
  </column>
 </row>

 <row margin-top="-2px" position-relative z-index="17">
  <column col-2>
  </column>
  <column position-relative col-8 text-center margin-top="-2.4rem">
   <img src="./img/check.png" padding-right="2px" padding-left="2px" margin-left="-20px" img-fluid alt="оставьте заявку" max-width="165px" webp />
  </column>
 </row>

 <row>
  <column>
   <!-- translateY(-5px) -->
   <p text-center Autonoumous FS26 FSMB14 color="#fff" text-lowercase
   transform="translate(0,1px)" padding-top="2px">
    оставьте заявку
   </p>
  </column>
 </row>

 <row>
  <column col-4>
  </column>
  <column col-4 text-center d-flex flex-column color="#A3F3FB">
   <span Pipe PipeMob PipeMob2 mb-0>|</span>
   <span Bullet BulletMobBot BulletMob>O</span>
  </column>
 </row>

 <row>
  <column col-4>
  </column>
  <column col-4 text-center>
   <span FS48 FSMB38 Autonomous color="#A3F3FB" transform="translateY(2px)" d-inline-block>
    3
   </span>
  </column>
 </row>
 <row>
  <column col-2>
  </column>
  <column position-relative col-8 text-center margin-top="-1.6rem">
   <img src="./img/gift.png" padding-left="2px" padding-top="2px" padding-right="3px" img-fluid alt="получите подарки" max-width="172px" webp />
  </column>
 </row>

 <row>
  <column>
   <p text-center Autonoumous FS26 FSMB14 color="#fff" m-0 text-lowercase transform="translateY(-15px)">
    получите подарки
   </p>
  </column>
 </row>
</container>