<head>
  <meta charset="utf-8">
  <page-title />
  <meta-description />
  <meta id="mobViewport" name="viewport" content="width=375">
  <script keep>
   function viewport_fix(){
    /** @type {HTMLMetaElement} */
    var viewport=window['mobViewport']
    if(viewport) {
     if(window.outerWidth>=768) {
      viewport.setAttribute('content',`width=768`)
     }
     else if(window.outerWidth>=576) {
      viewport.setAttribute('content',`width=576`)
     }
    }
   }
   viewport_fix()
   window.addEventListener('resize',viewport_fix)
  </script>

  <bootstrap-css rename drop no-meta />
  <combine-css embed />

  <icon href="img/fav5.png"/>

  <open-graph />

  <!-- <spectrum-icons /> -->

  <!-- and (min-resolution: 1ddpx) and (max-resolution: 2dppx) -->
  <!-- and (max-resolution: 1dppx) -->

  <!-- XL -->
  <!-- <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-xl-1440.jpg" media="(min-width:1200px)" type="image/jpg"  /> -->
  <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-xl-1440.webp" media="(min-width:1200px)" type="image/webp"  />

  <!-- L -->
  <!-- <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-l-1200.jpg"
   media="(min-width:992px) and (max-width:1200px) and (-webkit-device-pixel-ratio: 1)" type="image/jpg"  /> -->
  <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-l-1200.webp"
   media="(min-width:992px) and (max-width:1200px) and (-webkit-device-pixel-ratio: 1)" type="image/webp"  />

  <!-- <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-l-2400.jpg"
   media="(min-width:992px) and (max-width:1200px) and (-webkit-device-pixel-ratio: 2)"  type="image/jpg"  /> -->
  <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-l-2400.webp"
   media="(min-width:992px) and (max-width:1200px) and (-webkit-device-pixel-ratio: 2)"  type="image/webp"  />

  <!-- M -->
  <!-- <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-m-992.jpg"
  media="(min-width:768px) and (max-width:992px) and (-webkit-device-pixel-ratio: 1)" type="image/jpg"  /> -->
  <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-m-992.webp"
  media="(min-width:768px) and (max-width:992px) and (-webkit-device-pixel-ratio: 1)" type="image/webp"  />

  <!-- <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-m-1984.jpg"
  media="(min-width:768px) and (max-width:992px) and (-webkit-device-pixel-ratio: 2)"  type="image/jpg"  /> -->
  <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-m-1984.webp"
  media="(min-width:768px) and (max-width:992px) and (-webkit-device-pixel-ratio: 2)"  type="image/webp"  />

  <!-- S -->
  <!-- <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-s-768.jpg"
  media="(min-width:576px) and (max-width:768px) and (-webkit-device-pixel-ratio: 1)" type="image/jpg"  /> -->
  <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-s-768.webp"
  media="(min-width:576px) and (max-width:768px) and (-webkit-device-pixel-ratio: 1)" type="image/webp"  />

  <!-- <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-m-1536.jpg"
  media="(min-width:576px) and (max-width:768px) and (-webkit-device-pixel-ratio: 2)"  type="image/jpg"  /> -->
  <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-m-1536.webp"
  media="(min-width:576px) and (max-width:768px) and (-webkit-device-pixel-ratio: 2)"  type="image/webp"  />

  <!-- XS -->
  <!-- <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-xs-576.jpg"
  media="(max-width:576px) and (-webkit-device-pixel-ratio: 1)" type="image/jpg"  /> -->
  <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-xs-576.webp"
  media="(max-width:576px) and (-webkit-device-pixel-ratio: 1)" type="image/webp"  />

  <!-- <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-xs-1152.jpg"
  media="(max-width:576px) and (-webkit-device-pixel-ratio: 2)"  type="image/jpg"  /> -->
  <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-xs-1152.webp"
  media="(max-width:576px) and (-webkit-device-pixel-ratio: 2)"  type="image/webp"  />

  <!-- <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-xs-1728.jpg"
  media="(max-width:576px) and (-webkit-device-pixel-ratio: 3)"  type="image/jpg"  /> -->
  <link rel="preload" as="image" href="pages/wide/content/10-header/img/poster-xs-1728.webp"
  media="(max-width:576px) and (-webkit-device-pixel-ratio: 3)"  type="image/webp"  />
</head>