<column LeftColumn>
  <div text-center>
    <img photo img-fluid rounded src="img/splash.jpg" alt="@ideal.one/i-one logo" />
  </div>
  <div text-center>
    <!-- <github-badge name="i-one" org="artdeco" /> -->
    <!-- uncomment when published -->
    <!-- <npm-badge package="@ideal.one/i-one">_IOne_</npm-badge> -->
    <!-- <npm-badge package="splendid">_Splendid_</npm-badge> -->
  </div>

  ### Pages

  <pages />

  <sidebar pt-3>
    <social-buttons meta mb-3 d-inline-block />
  </sidebar>

  <div sticky-top mt-2 >
    <on-this-page max-level="5" />
  </div>
</column>