li.Active > a {
  font-weight: 700;
}
li.Active ~ li.Active > a {
  font-weight: normal;
}
li > ul {
  display: none;
}
li.Active > ul {
  display: block;
}
li.Active ~ li.Active > ul {
  display: none;
}
.OnThisPage {
  -webkit-padding-start: 0;
}
.OnThisPage, ul {
  list-style-type: none;
  padding-left: 1rem;
}