<add-file>video/output-desk.mp4</add-file>
<stylesheet href="../../stylesheets/Video.css" />

<container position-relative mb-5 mt-5 Video z-index="9" MaxContainer>
 <row z-index="10" position-relative>
  <column position-relative px-md-4 VideoCol>
   <div VideoEclipse position-absolute>
   </div>

   <div position-relative w-100 VideoCont>
    <img src="./img/poster3.jpg" alt="" opacity="0" w-100 webp placeholder-auto />
    <video playsinline autoplay muted loop img-fluid w-100 position-absolute left="0">
     <source src="/video/output-desk.mp4" type="video/mp4">
    </video>
   </div>

   <img src="./img/frame.svg" Frame pointer-events="none" alt="frame"
   right="0" position-absolute z-index="11" />

  </column>
 </row>

 <row>
  <column col-10>
  </column>
  <column d-flex justify-content-end position-relative col-2>
   <img src="./img/bubble.png" pointer-events="none" alt="frame" z-index="11" img-fluid VideoBubble />
  </column>
 </row>

 <!-- <img src="./50-types/Ellipse_57.png" above-fold alt="eclipse" position-absolute
 z-index="9" top="-50%" right="0%" transform="scale(1.5)" /> -->
</container>