{
  "title": "video-test",
  "content": "<!area-5327b file=\"pages/test/content/index.html\">\n〈AREA-NEW-LINE〉\n<h1 id=\"x1\">x1</h1>\n\n\n<div class=\"container\">\n  <div class=\"row\">\n    <div class=\"p-0 col\">\n      <video playsinline autoplay muted loop class=\"img-fluid\">\n       <source src=\"http://192.168.1.4:3000/video/mobile-top-480.mp4\" type=\"video/mp4\">\n      </video>\n    </div>\n  </div>\n</div>\n\n<h1 id=\"x2\">x2</h1>\n\n<div class=\"container\">\n  <div class=\"row\">\n    <div class=\"p-0 col\">\n      <video playsinline autoplay muted loop class=\"img-fluid\">\n       <source src=\"http://192.168.1.4:3000/video/mobile-top-720.mp4\" type=\"video/mp4\">\n      </video>\n    </div>\n  </div>\n</div>\n\n<h1 id=\"x3\">x3</h1>\n\n<div class=\"container\">\n  <div class=\"row\">\n    <div class=\"p-0 col\">\n      <video playsinline autoplay muted loop class=\"img-fluid\">\n       <source src=\"http://192.168.1.4:3000/video/mobile-top-1080.mp4\" type=\"video/mp4\">\n      </video>\n    </div>\n  </div>\n</div></!area-5327b>",
  "file": "test",
  "postAjax": ""
}