{
  "title": "",
  "content": "<!area-aaaa3 file=\"pages/test/content/index.html\">\n〈AREA-NEW-LINE〉\n<h1 id=\"x1\">x1</h1>\n\n\n<video class=\"img-fluid\">\n <source src=\"video/mobile-top-480.mp4\" type=\"video/mp4\">\n</video>\n\n<h1 id=\"x2\">x2</h1>\n\n<video class=\"img-fluid\">\n <source src=\"video/mobile-top-720.mp4\" type=\"video/mp4\">\n</video>\n\n<h1 id=\"x3\">x3</h1>\n\n\n<video class=\"img-fluid\">\n <source src=\"video/mobile-top-1080.mp4\" type=\"video/mp4\">\n</video>\n</!area-aaaa3>",
  "file": "test",
  "postAjax": ""
}