<stylesheet href="css/loom.css" trap />

<stylesheet href="../stylesheets/Index.css" />
<stylesheet href="../stylesheets/Critical.css" />
<stylesheet href="../stylesheets/Wide.css" />
<stylesheet href="../stylesheets/Lines.css" />
<stylesheet href="../stylesheets/Cyber.css" />
<stylesheet href="../stylesheets/Order.css" />
<stylesheet href="../stylesheets/About.css" />
<stylesheet href="../stylesheets/3Steps.css" />

<stylesheet href="ctc/CTC_Sans.css" />
<stylesheet href="layout/MainLayout.css" />
<stylesheet href="styles/app.css" />

<script src="js/form.js" combine />
<script src="js/x-order-bu.js" inline lang-out="ECMASCRIPT5" />
