/* .SectionBreak {
  text-align: center;
}
.hljs {
  font-size: larger;
} */
/* .tm, .tm2 {
  font-family: 'Source Code Pro', monospace;
} */
/* .tm {
  background-color: lightgreen;
}
.tm2 {
  background-color: lightcoral;
} */
/* @media(min-width:390px) {
 #myViewport {
  display: none;
 }
} */
body {
 font-family: "CTC_Sans", sans-serif;
}
body p {
 font-family: "CTC_Sans", sans-serif;
}
body input {
 font-family: "CTC_Sans", sans-serif;
}
/* @keyframes _fadeIn{0%{opacity:0}to{opacity:1}} */
picture{
 animation: none !important;
}
@media(max-width:576px){
 .MobPadding{
  padding-left:18px;
  padding-right:18px;
 }
 .Mb2{
  margin-bottom:2rem !important;
 }
 .container {
  max-width:375px;
 }
}

@media(min-width:1400px) {
 .MaxContainer {
  max-width: 1240px !important;
 }
}
a {
 color:#0B161D !important
}

/* @media(max-width:576px) {
} */