<div height="3.5rem" d-none d-md-block>
</div>
<div height="3px" d-md-none>
</div>

<container mt-5 position-relative id="Заказать уборку" MobPadding Order MaxContainer>
 <div position-absolute OrderDeskEllipse d-none d-md-block></div>

 <row px-4 d-md-none position-relative>
  <div position-absolute top="0" left="6px" width="calc(100% - 20px) !important"
  h-100 pointer-events="none">
   <img src="./order-border-mob.png" alt="" w-100 h-100 />
  </div>

  <div position-absolute top="30px" pointer-events="none" border-radius="50%"
  OrderMobEllipse>
  </div>

  <column mb-3 col-12 position-relative OrderFormCol>
   <div position-absolute p-3 top="0.8rem" left="0" w-100 h-100 d-flex
   align-items-center justify-content-center display="none!important" FormSubmitted>
    <div color="white">
     <h3 Autonomous FS18 FSMB13 mb-4 mb-lg-5 text-uppercase text-center>
      Ваш заказ принят в обработку
     </h3>
     <p text-center FS16 FSMB12>
      В ближайшее время вам поступит звонок с подтверждением заказа
      и&nbsp;дополнительной информацией по активации кибер-помощника
     </p>
    </div>
   </div>

   <form d-flex flex-column padding-top="4rem" FormWr FormMob onsubmit="event.preventDefault();return false" method="POST">
    <div position-relative pb-3 mb-1>
     <div position-absolute right="12px" top=".8rem" pointer-events="none" scale="0.9">
      <icon:chevron-down  />
     </div>
     <select required name="Comments" pl-3 Select mt-2 mb-1 FSMB11 border="0" background="white">
      <option val="генеральная уборка">генеральная уборка</option>
      <option val="поддерживающая уборка">поддерживающая уборка</option>
      <option val="дополнительные услуги">дополнительные услуги</option>
      <option val="кибер-химчистка">кибер-химчистка</option>
     </select>
    </div>

    <div pb-3 mb-1>
     <input required pl-3 FSMB11 placeholder="name" Input Input1 border="0" pr-3
     mt-1 w-100 value="" name="Name" placeholder="ваше имя" border-radius="5px"
     />
    </div>
    <div>
     <input required FSMB11 pl-3 border="0" Input Input2 placeholder="phone"
     pr-3 w-100 mt-1 value="" name="Phone" placeholder="+7 800 200 20 20"
     border-radius="5px" />
    </div>

    <button type="submit" text-uppercase d-flex align-items-center justify-content-center
    border-0 position-relative background="none" margin-top="2.4rem"
    SubmitButton onclick="SubmitTilda(true)">
     <span px-4 py-1 FSMB10 FSMB10 CBold Mt1px position-absolute>
      Отправить
     </span>
     <img src="./send-button.png" alt="" img-fluid SendButtonImg />
    </button>

     <p CopyWide mb-2>
      <span text-center FSMB9 text-white ConfirmCopy text-lowercase line-height="1">
       Нажимая на кнопку «Отправить», вы соглашаетесь на обработку персональных
       данных в соответствии с политикой конфиденциальности
      </span>
     </p>
   </form>
  </column>
 </row>

 <!-- DESKTOP -->
 <row px-md-0 px-lg-4 d-none d-md-flex padding-top="2.1rem">
  <column col-0 col-lg-1 col-xl-2>
  </column>
  <column mb-3 col-12 col-lg-10 col-xl-8 OrderCol position-relative>
   <div position-absolute p-3 top=".8rem" left="0" w-100 h-100 d-flex
   align-items-center justify-content-center display="none!important" pt-4 FormSubmitted>
    <div color="white">
     <h3 Autonomous FS18 FSMB12 mb-4 mb-lg-5 text-uppercase text-center>
      Ваш заказ принят в обработку
     </h3>
     <p text-center FS16 FSMB12 px-5>
      В ближайшее время вам поступит звонок с подтверждением заказа
      и&nbsp;дополнительной информацией по активации кибер-помощника
     </p>
    </div>
   </div>

   <div position-absolute LeftOrderDec>
    <img src="./order2.svg" h-100 />
   </div>
   <div position-absolute top="0" left="0" w-100 h-100 pointer-events="none">
    <img src="./bg1.svg" w-100 h-100 />
   </div>
   <form d-flex flex-column pt-lg-2 FormWr FormDesk onsubmit="event.preventDefault();return false" method="POST">
    <div position-relative pb-2>
     <div position-absolute right="15px" top="1.3rem" pointer-events="none">
      <icon:chevron-down />
     </div>
     <select name="Comments" pl-3 Select my-2 FS13>
      <option val="генеральная уборка">генеральная уборка</option>
      <option val="поддерживающая уборка">поддерживающая уборка</option>
      <option val="дополнительные услуги">дополнительные услуги</option>
      <option val="кибер-химчистка">кибер-химчистка</option>
     </select>
    </div>

    <div pb-2>
     <input required name="Name" pl-3 placeholder="name" FS13 Input border="0"
     pr-3 my-2 w-100 value="" placeholder="ваше имя" border-radius="5px" />
    </div>
    <div>
     <input required name="Phone" my-2 pl-3 border="0" FS13 Input
     placeholder="phone" pr-3 w-100 value="" placeholder="+7 800 200 20 20"
     border-radius="5px" />
    </div>

    <button type="submit" text-uppercase d-flex align-items-center
    justify-content-center border-0 position-relative background="none"
    margin-top="2.7rem" margin-bottom=".5rem" SubmitButton
    onclick="SubmitTilda(false)">
     <span px-4 py-1 FS14 FSMB10 CBold Mt1px position-absolute>
      Отправить
     </span>
     <img src="./send-button.png" alt="" img-fluid SendButtonImg />
    </button>

     <p my-0 CopyWide>
      <span text-center pt-2 FS10 FSMB9 text-white ConfirmCopy text-lowercase line-height="1.2">
       Нажимая на кнопку «Отправить», вы соглашаетесь на обработку персональных
       данных в соответствии с политикой конфиденциальности
      </span>
     </p>
    </form>
  </column>
 </row>
</container>