<container position-relative Bg2 text-lowercase>
 <row mt-5 z-index="13" position-relative  pr-0 pl-0>
  <column col-12>
   <img src="./Rectangle-195-wide.png" above-fold w-100 img-fluid webp />
  </column>

  <div row position-absolute top="0" left="0" w-100 h-100 padding-top="2.7rem" padding-bottom="2.7rem">
   <!-- <column col-2>
   </column>

   <column col-9 padding-right="1.3rem" px-0>
    <img src="./cyber-dry.png" img-fluid webp />
   </column> -->

   <column col-1>
   </column>

   <column col-10>
    <h3 Autonomous text-uppercase FS22 color="#f4f5f6" text-center>
     кибер-химчистка
    </h3>
   </column>

   <div container-fluid ml-5 mr-4 Medium pl-1 pr-1>
    <div row ServiceRow mb-3 mt-3 no-gutters pl-0 pr-0 Medium>
     <column col-8 FS20 p-0>
      кресло обычное
     </column>
     <column col-4 FS20 text-right p-0>
      2500₽
     </column>
    </div>
    <div row mb-3 no-gutters pl-0 pr-0 ServiceRow>
     <column col-8 FS20 p-0>
      кресло раскладывающееся
     </column>
     <column col-4 FS20 text-right p-0>
      5000₽
     </column>
    </div>
    <div row mb-3 no-gutters pl-0 pr-0 ServiceRow>
     <column col-8 FS20 p-0>
      диван угловой
     </column>
     <column col-4 FS20 text-right p-0>
      6500₽
     </column>
    </div>
    <div row mb-3 no-gutters pl-0 pr-0 ServiceRow>
     <column col-8 FS20 p-0>
      матрас
     </column>
     <column col-4 FS20 text-right p-0>
      3500—5000₽
     </column>
    </div>
    <div row mb-3 no-gutters pl-0 pr-0 ServiceRow>
     <column col-8 FS20 p-0>
      стулья кожаные
     </column>
     <column col-4 FS20 text-right p-0>
      500₽/шт
     </column>
    </div>

    <div row ServiceRow mb-3 mt-3 no-gutters pl-0 pr-0>
     <column col-8 FS20 p-0>
      диван кухонный
     </column>
     <column col-4 FS20 text-right p-0>
      195₽/М²
     </column>
    </div>
    <div row mb-3 no-gutters pl-0 pr-0 ServiceRow>
     <column col-8 FS20 p-0>
      Уборка дома от 150 м²
     </column>
     <column col-4 FS20 text-right p-0>
      3500—5000₽
     </column>
    </div>
    <div row mb-3 no-gutters pl-0 pr-0 ServiceRow>
     <column col-8 FS20 p-0>
      ковёр
     </column>
     <column col-4 FS20 text-right p-0>
      от 2500₽
     </column>
    </div>
    <div row mb-3 no-gutters pl-0 pr-0 ServiceRow>
     <column col-8 FS20 p-0>
      матрас
     </column>
     <column col-4 FS20 text-right p-0>
      3500—5000₽
     </column>
    </div>
    <div row mb-3 no-gutters pl-0 pr-0 ServiceRow>
     <column col-8 FS20 p-0>
      детский матрас
     </column>
     <column col-4 FS20 text-right p-0>
      от 3000₽
     </column>
    </div>
    <div row mb-3 no-gutters pl-0 pr-0 ServiceRow>
     <column col-8 FS20 p-0>
      диван кожаный
     </column>
     <column col-4 FS20 text-right p-0>
      от 6000₽
     </column>
    </div>
   </div>

   <img src="./bubble2.png" above-fold Bubble2 img-fluid webp position-absolute alt="пузырь" />

  </div>
 </row>

 <div position-absolute left="calc(50% - 75px)" text-uppercase z-index="13"
 d-flex align-items-center justify-content-center margin-top="-20px" x-order-bu tabindex="0">
  <!-- this needs be bold -->
  <span px-4 py-1 FS12 CBold Mt1px>
   <a href="#Заказать уборку" color="#0B161D" Link>Заказать уборку</a>
  </span>
  <img src="./order-button.svg" alt="order" position-absolute z-index="-1"/>
 </div>
</container>